<div class="project-archives">
  <div class="project-archive">
    <div class="overlay-container">
      <a href="03202019_kingsport_oldham.html"
        ><img
          src="assets/img/Features/BathGallery_Features/oldham_bath_feature_03222019.jpg"
          alt=""
      /></a>
      <div class="overlay">
        <p>
          <a href="03202019_kingsport_oldham.html"
            >Preston Forest - 3 Bathroom Remodel on Oldham</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="12152018_kingsport_rotherwood_bathroom.html"
        ><img
          src="assets/img/Features/BathGallery_Features/rotherwoodhills_bathremodel.jpg"
          alt=""
      /></a>
      <div class="overlay">
        <p>
          <a href="12152018_kingsport_rotherwood_bathroom.html"
            >Kingsport - Rotherwood Hills Cabinets, Bath & Tile</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="10152019_allandale_wellingham.html">
        <img
          src="assets/img/Features/BathGallery_Features/wellington_allandalebath_remodel.jpg"
          alt=""
        />
      </a>

      <div class="overlay">
        <p>
          <a href="10152019_allandale_wellingham.html"
            >Allandale - Bath and Shower Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="042018_ColonialHeights_Bathroom.html">
        <img
          src="assets/img/Features/BathGallery_Features/kingsport_bathremodel.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="042018_ColonialHeights_Bathroom.html"
            >Colonial Heights Shower Installation and 2 Bath Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="08292018_mountcarmel_bathroom.html">
        <img
          src="assets/img/Features/BathGallery_Features/mtcarmel_bathaddition.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="08292018_mountcarmel_bathroom.html"
            >Mount Carmel Bathroom and Room Addition</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="11032017_LamontStreet_bathroom.html">
        <img
          src="assets/img/Features/BathGallery_Features/lamontstreet_bathroom.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="11032017_LamontStreet_bathroom.html"
            >Lamont Street Complete 3 Bathroom Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="10022017_ColonialHeights_bathroom.html">
        <img
          src="assets/img/Features/BathGallery_Features/colonialheights_feature_350.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="10022017_ColonialHeights_bathroom.html"
            >Colonial Heights Bath and Tile Redesign</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="11212017_BoonesCreek_bathroom.html">
        <img
          src="assets/img/Features/BathGallery_Features/boonecreek_keefauverbath.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="11212017_BoonesCreek_bathroom.html"
            >Boones Creek Shower and Tile Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="04012017_Blountville_bathroom.html">
        <img
          src="assets/img/Features/BathGallery_Features/blountville_showerbath_remodel.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="04012017_Blountville_bathroom.html"
            >Blountville - Bath and Shower Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="03122017_PrestonForest_bathroom.html">
        <img
          src="assets/img/Features/BathGallery_Features/prestonforest_350.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="03122017_PrestonForest_bathroom.html"
            >Kingsport - Preston Forest Eurobath</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img
        src="assets/img/Features/BathGallery_Features/kingsport_fairacresremodel.jpg"
        alt=""
      />
      <div class="overlay">
        <p>
          <a href="072018_Radcliff_FairAcres_Bath.html"
            >Kingsport - Fair Acres Bath and Closet</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="03242017_Roundtree_bathroom.html">
        <img
          src="assets/img/Features/BathGallery_Features/johnsoncity_roundtree_bathremodel.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="03242017_Roundtree_bathroom.html"
            >Johnson City Roundtree Bathroom Redesign</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="07272016_ReedCircle_Bathroom.html">
        <img
          src="assets/img/Features/BathGallery_Features/reedcircle_bathroomfeature.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="07272016_ReedCircle_Bathroom.html"
            >Johnson City - Reed Circle Bathroom Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="03222018_CooksValley_bathroom.html">
        <img
          src="assets/img/Features/BathGallery_Features/harrison_homeremodel.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="03222018_CooksValley_bathroom.html"
            >Cooks Valley - Kingsport Bath and Tile</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="07152017_JohnsonCity_bathroom.html">
        <img
          src="assets/img/Features/BathGallery_Features/johnsoncity_doublevanityfeature.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="07152017_JohnsonCity_bathroom.html"
            >Johnson City Double Vanity - Shower and Bath</a
          >
        </p>
      </div>
    </div>
  </div>

  <!--
      <div class="project-archive">
          <div class="overlay-container">
            <img src="assets/img/Features/BathGallery_Features/blountville_bathsubwayfeature.jpg" alt="" />
            <div class="overlay">
                <p>
                  <a href="project-detail.html">Blountville Bath and Tile</a>
                </p>
              </div>
          </div>
        </div>
  
        -->
</div>
