<div class="contact-form">
  <form
    method="post"
    id="contact-form"
    action="assets/php/send.php"
    data-abide
    novalidate
  >
    <h2>Get Started</h2>
    <p>Complete the form for a free quote.</p>
    <div class="field-container">
      <label for="name"
        >Your Name:
        <input
          type="text"
          id="name"
          placeholder="Full Name"
          name="name"
          required
        />
      </label>
    </div>
    <div class="field-container">
      <label for="email"
        >Your Email:
        <input
          type="text"
          id="email"
          placeholder="Email Address"
          name="email"
          required
        />
      </label>
    </div>
    <div class="field-container">
      <label for="phone"
        >Your Phone:
        <input
          type="text"
          id="phone"
          placeholder="Your phone number"
          name="phone"
          required
        />
      </label>
    </div>
    <div class="field-container">
      <label for="time"
        >When Is A Good Time To Call?
        <input
          type="text"
          id="time"
          placeholder="A good time to call"
          name="time"
        />
      </label>
    </div>
    <div class="field-container">
      <label for="service"
        >Select Project Type:
        <select name="service" id="service">
          <option value="bath">Bathroom</option>
          <option value="deck">Deck</option>
          <option value="kitchen">Kitchen</option>
          <option value="addition">Room Addition</option>
          <option value="porch">Screened Porch</option>
          <option value="other">Other Remodeling</option>
        </select>
      </label>
    </div>
    <div class="field-container">
      <label for="message"
        >Please Describe Your Project:
        <input
          type="text"
          id="message"
          placeholder="Please describe your project."
          name="message"
        />
      </label>
    </div>
    <div class="field-container">
      <input type="submit" value="Submit" class="button send_btn" />
    </div>
  </form>
</div>
