<div class="page-headlines">
  <div class="row">
    <h1>We're proud of our work.</h1>
    <p>
      Enjoy your home and add value for years to come. Click on the links below
      to explore each project.
    </p>
  </div>
</div>

<div class="project-archives">
  <div class="project-archive">
    <div class="overlay-container">
      <a href="deck_IndianSprings_addition.html"
        ><img
          src="assets/img/Features/Deck_features/indiansprings_deck.jpg"
          alt=""
      /></a>
      <div class="overlay">
        <p>
          <a href="deck_IndianSprings_addition.html"
            >Indian Springs - Deck Construction</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="addition_jonesborough_11202018.html">
        <img
          src="assets/img/Features/roomaddition_features/jonesborough_BellHome.jpg"
          alt=""
        />
      </a>

      <div class="overlay">
        <p>
          <a href="addition_jonesborough_11202018.html"
            >Jonesborough - Deck and Arbor Construction</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="deck_edensridge.html">
        <img
          src="assets/img/Features/Deck_features/edensridge_deck.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="deck_edensridge.html"
            >Edens Ridge - Kingsport Deck Construction</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="deck_johnsoncity_022018.html">
        <img
          src="assets/img/Features/Deck_features/johnsoncity_deck.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="deck_johnsoncity_022018.html"
            >Johnson City - Deck Construction</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="deck_easternstar.html">
        <img
          src="assets/img/Features/Deck_features/easternstar_deck.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="deck_easternstar.html">Gray, TN - Deck Construction</a>
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="deck_churchill_072018.html">
        <img
          src="assets/img/Features/Deck_features/churchhill_deck.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="deck_churchill_072018.html"
            >Church Hill - Deck Construction</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="deck_eastwind.html">
        <img
          src="assets/img/Features/Deck_features/bloomingdale_screenporchdeck.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="deck_eastwind.html">Bloomingdale - Screen Porch and Deck</a>
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="deck_052018_Blountville.html">
        <img
          src="assets/img/Features/Deck_features/blountville_deck.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="deck_052018_Blountville.html"
            >Blountville - Deck Construction</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="deck_edensridge.html">
        <img
          src="assets/img/Features/Deck_features/edensridge_deck.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="deck_edensridge.html"
            >Edens Ridge - Kingsport Deck Construction</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="deck_stuffleheights_03222018.html">
        <img
          src="assets/img/Features/Deck_features/stuffleheights_deck.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="deck_stuffleheights_03222018.html"
            >Bloomingdale - Deck Construction</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="eck_prestonforest_autumn.html">
        <img
          src="assets/img/Features/Deck_features/prestonforest_deck.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="deck_prestonforest_autumn.html"
            >Preston Forest - Deck Construction</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="deck_churchhill_jacuzzi.html">
        <img
          src="assets/img/Features/Deck_features/churchhill_deckjacuzi.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="deck_churchhill_jacuzzi.html"
            >Church Hill - Deck Construction for Jacuzzi</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
