<div class="site-footer">
  <div class="footer-content">
    <div class="footer-box">
      <a href="index.html">
        <img
          src="assets/img/graphics/fixitlogo_2018_horizontal.png"
          alt="Mr. Fix It Home Improvements"
        />
      </a>
      <div class="address">
        <p>1933 Sand Street</p>
        <p>Kingsport, TN 37664</p>
        <p>(423) 245-2493</p>
        <p>info@mrfixithomes.com</p>
      </div>
    </div>
    <div class="footer-box">
      <h3>Services</h3>
      <ul>
        <li>Bathroom Remodeling</li>
        <li>Kitchen Remodeling</li>
        <li>Outdoor Decks</li>
        <li>Patios and Screen Rooms</li>
        <li>Room Additions</li>
      </ul>
    </div>
    <div class="footer-box">
      <h3>About Us</h3>
      <ul>
        <li>About</li>
        <li>Reviews</li>
        <li>Job Portfolio</li>
      </ul>
    </div>
    <div class="footer-box">
      <h3>Locally Owned</h3>
      <p>
        We are a general home improvement contractor located in Kingsport,
        Tennessee. We offer contractor services for home Improvement in the
        Tri-Cities, Kingsport, Johnson City and Bristol, TN/VA.
      </p>
    </div>
  </div>
</div>

<div class="copyright">
  <div class="copyright-content">
    <div class="privacy"><p>Site Map | Privacy</p></div>
    <div class="credits"><p>Strategy by Volume | Copyright 2019</p></div>
  </div>
</div>
