<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05082018_Washington_Kitchen_01.jpg, {{
        path
      }}/Reduce800/05082018_Washington_Kitchen_01.jpg, {{
        path
      }}/05082018_Washington_Kitchen_01.jpg"
      data-src="{{ path }}/05082018_Washington_Kitchen_01.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05082018_Washington_Kitchen_01.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05082018_Washington_Kitchen_02.jpg, {{
        path
      }}/Reduce800/05082018_Washington_Kitchen_02.jpg, {{
        path
      }}/05082018_Washington_Kitchen_02.jpg"
      data-src="{{ path }}/05082018_Washington_Kitchen_02.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05082018_Washington_Kitchen_02.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05082018_Washington_Kitchen_05.jpg, {{
        path
      }}/Reduce800/05082018_Washington_Kitchen_05.jpg, {{
        path
      }}/05082018_Washington_Kitchen_05.jpg"
      data-src="{{ path }}/05082018_Washington_Kitchen_05.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05082018_Washington_Kitchen_05.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05082018_Washington_Kitchen_07.jpg, {{
        path
      }}/Reduce800/05082018_Washington_Kitchen_07.jpg, {{
        path
      }}/05082018_Washington_Kitchen_07.jpg"
      data-src="{{ path }}/05082018_Washington_Kitchen_07.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05082018_Washington_Kitchen_07.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05082018_Washington_Kitchen_13.jpg, {{
        path
      }}/Reduce800/05082018_Washington_Kitchen_13.jpg, {{
        path
      }}/05082018_Washington_Kitchen_13.jpg"
      data-src="{{ path }}/05082018_Washington_Kitchen_13.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05082018_Washington_Kitchen_13.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05082018_Washington_Kitchen_15.jpg, {{
        path
      }}/Reduce800/05082018_Washington_Kitchen_15.jpg, {{
        path
      }}/05082018_Washington_Kitchen_15.jpg"
      data-src="{{ path }}/05082018_Washington_Kitchen_15.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05082018_Washington_Kitchen_15.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05082018_Washington_Kitchen_21.jpg, {{
        path
      }}/Reduce800/05082018_Washington_Kitchen_21.jpg, {{
        path
      }}/05082018_Washington_Kitchen_21.jpg"
      data-src="{{ path }}/05082018_Washington_Kitchen_21.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05082018_Washington_Kitchen_21.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05082018_Washington_Kitchen_08.jpg, {{
        path
      }}/Reduce800/05082018_Washington_Kitchen_08.jpg, {{
        path
      }}/05082018_Washington_Kitchen_08.jpg"
      data-src="{{ path }}/05082018_Washington_Kitchen_08.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05082018_Washington_Kitchen_08.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05082018_Washington_Kitchen_16.jpg, {{
        path
      }}/Reduce800/05082018_Washington_Kitchen_16.jpg, {{
        path
      }}/05082018_Washington_Kitchen_16.jpg"
      data-src="{{ path }}/05082018_Washington_Kitchen_16.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05082018_Washington_Kitchen_16.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05082018_Washington_Kitchen_18.jpg, {{
        path
      }}/Reduce800/05082018_Washington_Kitchen_18.jpg, {{
        path
      }}/05082018_Washington_Kitchen_18.jpg"
      data-src="{{ path }}/05082018_Washington_Kitchen_18.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05082018_Washington_Kitchen_18.jpg"
        />
      </a>
    </li>
  </ul>
</div>
