<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-2.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-2.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-7.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-7.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-9.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-9.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-14.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-14.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-18.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-18.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-30.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-30.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-32.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-32.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-34.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-34.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-36.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-36.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-26.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-26.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>
  </ul>
</div>
