<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



        <li data-responsive="{{path}}Reduce400/JohnsonCity_DoubleVanity_Bathroom_03.jpg, {{path}}/Reduce800/JohnsonCity_DoubleVanity_Bathroom_03.jpg, {{path}}/JohnsonCity_DoubleVanity_Bathroom_03.jpg" data-src="{{path}}/JohnsonCity_DoubleVanity_Bathroom_03.jpg"
        data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/JohnsonCity_DoubleVanity_Bathroom_03.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/JohnsonCity_DoubleVanity_Bathroom_06.jpg, {{path}}/Reduce800/JohnsonCity_DoubleVanity_Bathroom_06.jpg, {{path}}/JohnsonCity_DoubleVanity_Bathroom_06.jpg" data-src="{{path}}/JohnsonCity_DoubleVanity_Bathroom_06.jpg"
        data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/JohnsonCity_DoubleVanity_Bathroom_06.jpg">
            
          </a>
        </li>


    


        <li data-responsive="{{path}}Reduce400/JohnsonCity_DoubleVanity_Bathroom_15.jpg, {{path}}/Reduce800/JohnsonCity_DoubleVanity_Bathroom_15.jpg, {{path}}/JohnsonCity_DoubleVanity_Bathroom_15.jpg" data-src="{{path}}/JohnsonCity_DoubleVanity_Bathroom_15.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/JohnsonCity_DoubleVanity_Bathroom_15.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/JohnsonCity_DoubleVanity_Bathroom_02.jpg, {{path}}/Reduce800/JohnsonCity_DoubleVanity_Bathroom_02.jpg, {{path}}/JohnsonCity_DoubleVanity_Bathroom_02.jpg" data-src="{{path}}/JohnsonCity_DoubleVanity_Bathroom_02.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/JohnsonCity_DoubleVanity_Bathroom_02.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/JohnsonCity_DoubleVanity_Bathroom_20.jpg, {{path}}/Reduce800/JohnsonCity_DoubleVanity_Bathroom_20.jpg, {{path}}/JohnsonCity_DoubleVanity_Bathroom_20.jpg" data-src="{{path}}/JohnsonCity_DoubleVanity_Bathroom_20.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/JohnsonCity_DoubleVanity_Bathroom_20.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/JohnsonCity_DoubleVanity_Bathroom_10.jpg, {{path}}/Reduce800/JohnsonCity_DoubleVanity_Bathroom_10.jpg, {{path}}/JohnsonCity_DoubleVanity_Bathroom_10.jpg" data-src="{{path}}/JohnsonCity_DoubleVanity_Bathroom_10.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/JohnsonCity_DoubleVanity_Bathroom_10.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/JohnsonCity_DoubleVanity_Bathroom_12.jpg, {{path}}/Reduce800/JohnsonCity_DoubleVanity_Bathroom_12.jpg, {{path}}/JohnsonCity_DoubleVanity_Bathroom_12.jpg" data-src="{{path}}/JohnsonCity_DoubleVanity_Bathroom_12.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/JohnsonCity_DoubleVanity_Bathroom_12.jpg">
            
          </a>
        </li>



        <li data-responsive="{{path}}Reduce400/JohnsonCity_DoubleVanity_Bathroom_13.jpg, {{path}}/Reduce800/JohnsonCity_DoubleVanity_Bathroom_13.jpg, {{path}}/JohnsonCity_DoubleVanity_Bathroom_13.jpg" data-src="{{path}}/JohnsonCity_DoubleVanity_Bathroom_13.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/JohnsonCity_DoubleVanity_Bathroom_13.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/JohnsonCity_DoubleVanity_Bathroom_19.jpg, {{path}}/Reduce800/JohnsonCity_DoubleVanity_Bathroom_19.jpg, {{path}}/JohnsonCity_DoubleVanity_Bathroom_19.jpg" data-src="{{path}}/JohnsonCity_DoubleVanity_Bathroom_19.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/JohnsonCity_DoubleVanity_Bathroom_19.jpg">
            
          </a>
        </li>











  </ul>
</div>
</div>