<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_11212017.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017.jpg">
          
          </a>
        </li>





        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-3.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-3.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-3.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-3.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-3.jpg">
          
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-4.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-4.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-4.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-4.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-4.jpg">
          
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-5.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-5.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-5.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-5.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-5.jpg">
          
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-6.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-6.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-6.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-6.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-6.jpg">
          
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-8.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-8.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-8.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-8.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-8.jpg">
          
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-9.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-9.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-9.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-9.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-9.jpg">
          
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-11.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-11.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-11.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-11.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-11.jpg">
          
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-12.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-12.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-12.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-12.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-12.jpg">
          
          </a>
        </li>

        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-13.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-13.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-13.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-13.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-13.jpg">
          
          </a>
        </li>



        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-16.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-16.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-16.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-16.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-16.jpg">
          
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-18.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-18.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-18.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-18.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-18.jpg">
          
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-21.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-21.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-21.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-21.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-21.jpg">
          
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-23.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-23.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-23.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-23.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-23.jpg">
          
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-24.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-24.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-24.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-24.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-24.jpg">
          
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-25.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-25.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-25.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-25.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-25.jpg">
          
          </a>
        </li>


        <li data-responsive="{{path}}Reduce400/MrFixItHomes_KeefauverRd_1121201-26.jpg, {{path}}/Reduce800/MrFixItHomes_KeefauverRd_11212017-26.jpg, {{path}}/MrFixItHomes_KeefauverRd_11212017-26.jpg" data-src="{{path}}/MrFixItHomes_KeefauverRd_11212017-26.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/MrFixItHomes_KeefauverRd_11212017-26.jpg">
          
          </a>
        </li>













  </ul>
</div>
</div>