<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{
        path
      }}/Reduce400/MrFixItHomeImprovements_03012018_EasterlyCondos-34.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/MrFixItHomeImprovements_03012018_EasterlyCondos-34.jpg, {{
        path
      }}MrFixItHomeImprovements_03012018_EasterlyCondos-34.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-2.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/Thumbnails/MrFixItHomeImprovements_03012018_EasterlyCondos-34.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/MrFixItHomeImprovements_03012018_EasterlyCondos-31.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/MrFixItHomeImprovements_03012018_EasterlyCondos-31.jpg, {{
        path
      }}MrFixItHomeImprovements_03012018_EasterlyCondos-31.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-2.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/Thumbnails/MrFixItHomeImprovements_03012018_EasterlyCondos-31.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/MrFixItHomeImprovements_03012018_EasterlyCondos-37.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/MrFixItHomeImprovements_03012018_EasterlyCondos-37.jpg, {{
        path
      }}MrFixItHomeImprovements_03012018_EasterlyCondos-37.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-2.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/Thumbnails/MrFixItHomeImprovements_03012018_EasterlyCondos-37.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/MrFixItHomeImprovements_03012018_EasterlyCondos-36.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/MrFixItHomeImprovements_03012018_EasterlyCondos-36.jpg, {{
        path
      }}MrFixItHomeImprovements_03012018_EasterlyCondos-36.jpg"
      data-src="{{
        path
      }}MrFixItHomeImprovements_03012018_EasterlyCondos-36.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/Thumbnails/MrFixItHomeImprovements_03012018_EasterlyCondos-36.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/MrFixItHomeImprovements_03012018_EasterlyCondos-35.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/MrFixItHomeImprovements_03012018_EasterlyCondos-35.jpg, {{
        path
      }}MrFixItHomeImprovements_03012018_EasterlyCondos-35.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-2.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/Thumbnails/MrFixItHomeImprovements_03012018_EasterlyCondos-35.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/MrFixItHomeImprovements_03012018_EasterlyCondos-32.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/MrFixItHomeImprovements_03012018_EasterlyCondos-32.jpg, {{
        path
      }}MrFixItHomeImprovements_03012018_EasterlyCondos-32.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-2.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/Thumbnails/MrFixItHomeImprovements_03012018_EasterlyCondos-32.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>
  </ul>
</div>
