<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_04.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_04.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_04.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_05.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_05.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_05.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_06.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_06.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_06.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_010.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_10.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_10.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_13.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_13.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_13.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_14.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_14.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_14.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_16.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_16.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_16.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_17.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_17.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_17.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_19.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_19.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_19.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_20.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_20.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_20.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_01.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_01.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_01.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_09.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_09.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_09.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_12.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_12.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_12.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Reduce400/, {{
        path
      }}/Reduce800//042018_ColonialHeights_Bath_22.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{ path }}/042018_ColonialHeights_Bath_22.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/042018_ColonialHeights_Bath_22.jpg"
        />
      </a>
    </li>
  </ul>
</div>
