<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{ path }}/DSC_145805182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_145805182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_145805182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_145805182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_145805182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_147405182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_147405182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_147405182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_147405182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_147405182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_149805182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_149805182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_149805182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_149805182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_149805182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_145405182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_145405182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_145405182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_145405182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_145405182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_150605182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_150605182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_150605182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_150605182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_150605182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_153605182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_153605182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_153605182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_153605182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_153605182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_151005182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_151005182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_151005182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_151005182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_151005182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_151105182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_151105182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_151105182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_151105182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_151105182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_151805182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_151805182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_151805182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_151805182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_151805182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_154905182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_154905182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_154905182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_154905182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_154905182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_155505182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_155505182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_155505182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_155505182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_155505182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_157705182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_157705182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_157705182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_157705182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_157705182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_161505182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_161505182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_161505182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_161505182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_161505182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_163905182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_163905182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_163905182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_163905182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_163905182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_170005182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_170005182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_170005182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_170005182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_170005182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_171105182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_171105182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_171105182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_171105182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_171105182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_172705182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_172705182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_172705182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_172705182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_172705182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_175405182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_175405182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_175405182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_175405182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_175405182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_152105182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_152105182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_152105182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_152105182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_152105182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_164805182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_164805182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_164805182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_164805182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_164805182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/DSC_171705182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_171705182018_MrFixIt_Wellington.jpg, {{
        path
      }}/DSC_171705182018_MrFixIt_Wellington.jpg"
      data-src="{{ path }}/DSC_171705182018_MrFixIt_Wellington.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/DSC_171705182018_MrFixIt_Wellington.jpg"
        />
      </a>
    </li>
  </ul>
</div>
