<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-2.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-2.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-7.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-7.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-9.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-9.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-14.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-14.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-18.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-18.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-30.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-30.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-32.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-32.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-34.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-34.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-36.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-36.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/12082018_MrFixIt_Rotherwood-26.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/12082018_MrFixIt_Rotherwood-26.jpg"
        />
      </a>
    </li>
  </ul>
</div>
