<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{ path }}Resize400/20190829-DJI_0005.jpg, {{
        path
      }}Resize800/20190829-DJI_0005.jpg, {{
        path
      }}Resize400/20190829-DJI_0005.jpg"
      data-src="{{ path }}20190829-DJI_0005.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DJI_0005.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DJI_0014.jpg, {{
        path
      }}Resize800/20190829-DJI_0014.jpg, {{
        path
      }}Resize400/20190829-DJI_0014.jpg"
      data-src="{{ path }}20190829-DJI_0014.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DJI_0014.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DJI_0016.jpg, {{
        path
      }}Resize800/20190829-DJI_0016.jpg, {{
        path
      }}Resize400/20190829-DJI_0016.jpg"
      data-src="{{ path }}20190829-DJI_0016.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DJI_0016.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DJI_0022.jpg, {{
        path
      }}Resize800/20190829-DJI_0022.jpg, {{
        path
      }}Resize400/20190829-DJI_0022.jpg"
      data-src="{{ path }}20190829-DJI_0022.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DJI_0022.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7774.jpg, {{
        path
      }}Resize800/20190829-DSC_7774.jpg, {{
        path
      }}Resize400/20190829-DSC_7774.jpg"
      data-src="{{ path }}20190829-DSC_7774.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7774.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7777.jpg, {{
        path
      }}Resize800/20190829-DSC_7777.jpg, {{
        path
      }}Resize400/20190829-DSC_7777.jpg"
      data-src="{{ path }}20190829-DSC_7777.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7777.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7781.jpg, {{
        path
      }}Resize800/20190829-DSC_7781.jpg, {{
        path
      }}Resize400/20190829-DSC_7781.jpg"
      data-src="{{ path }}20190829-DSC_7781.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7781.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7784.jpg, {{
        path
      }}Resize800/20190829-DSC_7784.jpg, {{
        path
      }}Resize400/20190829-DSC_7784.jpg"
      data-src="{{ path }}20190829-DSC_7784.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7784.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7789.jpg, {{
        path
      }}Resize800/20190829-DSC_7789.jpg, {{
        path
      }}Resize400/20190829-DSC_7789.jpg"
      data-src="{{ path }}20190829-DSC_7789.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7789.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7791.jpg, {{
        path
      }}Resize800/20190829-DSC_7791.jpg, {{
        path
      }}Resize400/20190829-DSC_7791.jpg"
      data-src="{{ path }}20190829-DSC_7791.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7791.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7797.jpg, {{
        path
      }}Resize800/20190829-DSC_7797.jpg, {{
        path
      }}Resize400/20190829-DSC_7797.jpg"
      data-src="{{ path }}20190829-DSC_7797.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7797.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7801.jpg, {{
        path
      }}Resize800/20190829-DSC_7801.jpg, {{
        path
      }}Resize400/20190829-DSC_7801.jpg"
      data-src="{{ path }}20190829-DSC_7801.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7801.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7820.jpg, {{
        path
      }}Resize800/20190829-DSC_7820.jpg, {{
        path
      }}Resize400/20190829-DSC_7820.jpg"
      data-src="{{ path }}20190829-DSC_7820.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7820.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7832.jpg, {{
        path
      }}Resize800/20190829-DSC_7832.jpg, {{
        path
      }}Resize400/20190829-DSC_7832.jpg"
      data-src="{{ path }}20190829-DSC_7832.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7832.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7840.jpg, {{
        path
      }}Resize800/20190829-DSC_7840.jpg, {{
        path
      }}Resize400/20190829-DSC_7840.jpg"
      data-src="{{ path }}20190829-DSC_7840.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7840.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7863.jpg, {{
        path
      }}Resize800/20190829-DSC_7863.jpg, {{
        path
      }}Resize400/20190829-DSC_7863.jpg"
      data-src="{{ path }}20190829-DSC_7863.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7863.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7867.jpg, {{
        path
      }}Resize800/20190829-DSC_7867.jpg, {{
        path
      }}Resize400/20190829-DSC_7867.jpg"
      data-src="{{ path }}20190829-DSC_7867.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7867.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7875.jpg, {{
        path
      }}Resize800/20190829-DSC_7875.jpg, {{
        path
      }}Resize400/20190829-DSC_7875.jpg"
      data-src="{{ path }}20190829-DSC_7875.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7875.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7885.jpg, {{
        path
      }}Resize800/20190829-DSC_7885.jpg, {{
        path
      }}Resize400/20190829-DSC_7885.jpg"
      data-src="{{ path }}20190829-DSC_7885.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7885.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7894.jpg, {{
        path
      }}Resize800/20190829-DSC_7894.jpg, {{
        path
      }}Resize400/20190829-DSC_7894.jpg"
      data-src="{{ path }}20190829-DSC_7894.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7894.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}Resize400/20190829-DSC_7907.jpg, {{
        path
      }}Resize800/20190829-DSC_7907.jpg, {{
        path
      }}Resize400/20190829-DSC_7907.jpg"
      data-src="{{ path }}20190829-DSC_7907.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190829-DSC_7907.jpg" />
      </a>
    </li>
  </ul>
</div>
