<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>

        <li data-responsive="{{path}}/Reduce400/DSC_5215-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/Reduce800/DSC_5215-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/DSC_5215-2MrFixIt_ReedCircle_07272016.jpg" data-src="{{path}}/DSC_5215-2MrFixIt_ReedCircle_07272016.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/DSC_5215-2MrFixIt_ReedCircle_07272016.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}/Reduce400/DSC_5239-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/Reduce800/DSC_5239-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/DSC_5239-2MrFixIt_ReedCircle_07272016.jpg" data-src="{{path}}/DSC_5239-2MrFixIt_ReedCircle_07272016.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/DSC_5239-2MrFixIt_ReedCircle_07272016.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}/Reduce400/DSC_5386-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/Reduce800/DSC_5386-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/DSC_5386-2MrFixIt_ReedCircle_07272016.jpg" data-src="{{path}}/DSC_5386-2MrFixIt_ReedCircle_07272016.jpg"
        >
          <a href=""></a>
            <img class="img-responsive" src="{{path}}/Thumbnails/DSC_5386-2MrFixIt_ReedCircle_07272016.jpg">
            
          </a>
        </li>

        <li data-responsive="{{path}}/Reduce400/DSC_5246-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/Reduce800/DSC_5246-MrFixIt_ReedCircle_07272016.jpg, {{path}}/DSC_5246-2MrFixIt_ReedCircle_07272016.jpg" data-src="{{path}}/DSC_5246-2MrFixIt_ReedCircle_07272016.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/DSC_5246-2MrFixIt_ReedCircle_07272016.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}/Reduce400/DSC_5242-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/Reduce800/DSC_5242-MrFixIt_ReedCircle_07272016.jpg, {{path}}/DSC_5242-2MrFixIt_ReedCircle_07272016.jpg" data-src="{{path}}/DSC_5242-2MrFixIt_ReedCircle_07272016.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/DSC_5242-2MrFixIt_ReedCircle_07272016.jpg">
            
          </a>
        </li>

        <li data-responsive="{{path}}/Reduce400/DSC_5255-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/Reduce800/DSC_5255-MrFixIt_ReedCircle_07272016.jpg, {{path}}/DSC_5255-2MrFixIt_ReedCircle_07272016.jpg" data-src="{{path}}/DSC_5255-2MrFixIt_ReedCircle_07272016.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/DSC_5255-2MrFixIt_ReedCircle_07272016.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}/Reduce400/DSC_5271-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/Reduce800/DSC_5271-MrFixIt_ReedCircle_07272016.jpg, {{path}}/DSC_5271-2MrFixIt_ReedCircle_07272016.jpg" data-src="{{path}}/DSC_5271-2MrFixIt_ReedCircle_07272016.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/DSC_5271-2MrFixIt_ReedCircle_07272016.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}/Reduce400/DSC_5299-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/Reduce800/DSC_5299-MrFixIt_ReedCircle_07272016.jpg, {{path}}/DSC_5299-2MrFixIt_ReedCircle_07272016.jpg" data-src="{{path}}/DSC_5299-2MrFixIt_ReedCircle_07272016.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/DSC_5299-2MrFixIt_ReedCircle_07272016.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}/Reduce400/DSC_5325-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/Reduce800/DSC_5325-MrFixIt_ReedCircle_07272016.jpg, {{path}}/DSC_5325-2MrFixIt_ReedCircle_07272016.jpg" data-src="{{path}}/DSC_5325-2MrFixIt_ReedCircle_07272016.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/DSC_5325-2MrFixIt_ReedCircle_07272016.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}/Reduce400/DSC_5404-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/Reduce800/DSC_5404-MrFixIt_ReedCircle_07272016.jpg, {{path}}/DSC_5404-2MrFixIt_ReedCircle_07272016.jpg" data-src="{{path}}/DSC_5404-2MrFixIt_ReedCircle_07272016.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/DSC_5404-2MrFixIt_ReedCircle_07272016.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}/Reduce400/DSC_5353-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/Reduce800/DSC_5353-MrFixIt_ReedCircle_07272016.jpg, {{path}}/DSC_5353-2MrFixIt_ReedCircle_07272016.jpg" data-src="{{path}}/DSC_5353-2MrFixIt_ReedCircle_07272016.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/DSC_5353-2MrFixIt_ReedCircle_07272016.jpg">
            
          </a>
        </li>


        <li data-responsive="{{path}}/Reduce400/DSC_5403-2MrFixIt_ReedCircle_07272016.jpg, {{path}}/Reduce800/DSC_5403-MrFixIt_ReedCircle_07272016.jpg, {{path}}/DSC_5403-2MrFixIt_ReedCircle_07272016.jpg" data-src="{{path}}/DSC_5403-2MrFixIt_ReedCircle_07272016.jpg"
        >
          <a href="">
            <img class="img-responsive" src="{{path}}/Thumbnails/DSC_5403-2MrFixIt_ReedCircle_07272016.jpg">
            
          </a>
        </li>














  </ul>
</div>
</div>