<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_09.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_09.jpg, {{path}}/PrestoneForest_AutumnDeck_09.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_09.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_09.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_02.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_02.jpg, {{path}}/PrestoneForest_AutumnDeck_02.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_02.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_02.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_10.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_10.jpg, {{path}}/PrestoneForest_AutumnDeck_10.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_10.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_10.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_12.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_12.jpg, {{path}}/PrestoneForest_AutumnDeck_12.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_12.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_12.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_01.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_01.jpg, {{path}}/PrestoneForest_AutumnDeck_01.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_01.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_01.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_03.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_03.jpg, {{path}}/PrestoneForest_AutumnDeck_03.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_03.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_03.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_04.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_04.jpg, {{path}}/PrestoneForest_AutumnDeck_04.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_04.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_04.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_06.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_06.jpg, {{path}}/PrestoneForest_AutumnDeck_06.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_06.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_06.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>



  </ul>
</div>
</div>