<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{ path }}/Reduce400/03042019_MrFixIt_HarrTown-46.jpg, {{
        path
      }}/Reduce800/03042019_MrFixIt_HarrTown-46.jpg, {{
        path
      }}/03042019_MrFixIt_HarrTown-46.jpgg"
      data-src="{{ path }}/03042019_MrFixIt_HarrTown-46.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03042019_MrFixIt_HarrTown-46.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/03042019_MrFixIt_HarrTown-4.jpg, {{
        path
      }}/Reduce800/03042019_MrFixIt_HarrTown-4.jpg, {{
        path
      }}/03042019_MrFixIt_HarrTown-4.jpgg"
      data-src="{{ path }}/03042019_MrFixIt_HarrTown-4.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03042019_MrFixIt_HarrTown-4.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/03042019_MrFixIt_HarrTown-33.jpg, {{
        path
      }}/Reduce800/03042019_MrFixIt_HarrTown-33.jpg, {{
        path
      }}/03042019_MrFixIt_HarrTown-33.jpgg"
      data-src="{{ path }}/03042019_MrFixIt_HarrTown-33.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03042019_MrFixIt_HarrTown-33.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/03042019_MrFixIt_HarrTown-10.jpg, {{
        path
      }}/Reduce800/03042019_MrFixIt_HarrTown-10.jpg, {{
        path
      }}/03042019_MrFixIt_HarrTown-10.jpgg"
      data-src="{{ path }}/03042019_MrFixIt_HarrTown-10.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03042019_MrFixIt_HarrTown-10.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/03042019_MrFixIt_HarrTown-16.jpg, {{
        path
      }}/Reduce800/03042019_MrFixIt_HarrTown-16.jpg, {{
        path
      }}/03042019_MrFixIt_HarrTown-16.jpgg"
      data-src="{{ path }}/03042019_MrFixIt_HarrTown-16.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03042019_MrFixIt_HarrTown-16.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/03042019_MrFixIt_HarrTown-26.jpg, {{
        path
      }}/Reduce800/03042019_MrFixIt_HarrTown-26.jpg, {{
        path
      }}/03042019_MrFixIt_HarrTown-26.jpgg"
      data-src="{{ path }}/03042019_MrFixIt_HarrTown-26.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03042019_MrFixIt_HarrTown-26.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/03042019_MrFixIt_HarrTown-39.jpg, {{
        path
      }}/Reduce800/03042019_MrFixIt_HarrTown-39.jpg, {{
        path
      }}/03042019_MrFixIt_HarrTown-39.jpgg"
      data-src="{{ path }}/03042019_MrFixIt_HarrTown-39.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03042019_MrFixIt_HarrTown-39.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/03042019_MrFixIt_HarrTown-41.jpg, {{
        path
      }}/Reduce800/03042019_MrFixIt_HarrTown-41.jpg, {{
        path
      }}/03042019_MrFixIt_HarrTown-41.jpgg"
      data-src="{{ path }}/03042019_MrFixIt_HarrTown-41.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03042019_MrFixIt_HarrTown-41.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/03042019_MrFixIt_HarrTown-43.jpg, {{
        path
      }}/Reduce800/03042019_MrFixIt_HarrTown-43.jpg, {{
        path
      }}/03042019_MrFixIt_HarrTown-43.jpgg"
      data-src="{{ path }}/03042019_MrFixIt_HarrTown-43.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03042019_MrFixIt_HarrTown-43.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/03042019_MrFixIt_HarrTown-60.jpg, {{
        path
      }}/Reduce800/03042019_MrFixIt_HarrTown-60.jpg, {{
        path
      }}/03042019_MrFixIt_HarrTown-60.jpgg"
      data-src="{{ path }}/03042019_MrFixIt_HarrTown-60.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03042019_MrFixIt_HarrTown-60.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/03042019_MrFixIt_HarrTown-13.jpg, {{
        path
      }}/Reduce800/03042019_MrFixIt_HarrTown-13.jpg, {{
        path
      }}/03042019_MrFixIt_HarrTown-13.jpgg"
      data-src="{{ path }}/03042019_MrFixIt_HarrTown-13.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03042019_MrFixIt_HarrTown-13.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/03042019_MrFixIt_HarrTown-21.jpg, {{
        path
      }}/Reduce800/03042019_MrFixIt_HarrTown-21.jpg, {{
        path
      }}/03042019_MrFixIt_HarrTown-21.jpgg"
      data-src="{{ path }}/03042019_MrFixIt_HarrTown-21.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03042019_MrFixIt_HarrTown-21.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>
  </ul>
</div>
