<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>
    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_246306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_246306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_246306212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_246306212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_246306212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DJI_011706212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DJI_011706212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_011706212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_011706212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DJI_011706212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DJI_011906212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DJI_011906212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_011906212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_011906212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DJI_011906212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DJI_012006212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DJI_012006212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_012006212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_012006212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DJI_012006212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DJI_012406212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DJI_012406212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_012406212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_012406212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DJI_012406212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DJI_012606212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DJI_012606212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_012606212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_012606212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DJI_012606212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DJI_012806212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DJI_012806212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_012806212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_012806212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DJI_012806212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DJI_012906212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DJI_012906212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_012906212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_012906212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DJI_012906212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DJI_013006212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DJI_013006212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_013006212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_013006212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DJI_013006212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DJI_013006212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DJI_013006212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_013006212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_013006212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DJI_013006212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DJI_013206212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DJI_013206212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_013206212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_013206212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DJI_013206212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DJI_013306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DJI_013306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_013306212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_013306212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DJI_013306212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DJI_013806212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DJI_013806212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_013806212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_013806212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DJI_013806212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DJI_014106212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DJI_014106212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_014106212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DJI_014106212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DJI_014106212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_244306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_244306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_244306212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_244306212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_244306212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_244506212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_244506212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_244506212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_244506212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_244506212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_244806212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_244806212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_244806212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_244806212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_244806212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_245106212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_245106212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_245106212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_245106212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_245106212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_245406212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_245406212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_245406212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_245406212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_245406212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_245706212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_245706212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_245706212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_245706212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_245706212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_246306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_246306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_246306212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_246306212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_246306212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_246606212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_246606212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_246606212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_246606212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_246606212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_247106212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_247106212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_247106212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_247106212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_247106212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_247506212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_247506212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_247506212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_247506212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_247506212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_248106212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_248106212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_248106212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_248106212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_248106212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_248406212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_248406212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_248406212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_248406212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_248406212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_248606212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_248606212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_248606212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_248606212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_248606212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_249106212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_249106212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_249106212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_249106212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_249106212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_249206212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_249206212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_249206212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_249206212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_249206212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_249506212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_249506212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_249506212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_249506212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_249506212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_250206212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_250206212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_250206212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_250206212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_250206212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_250306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_250306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_250306212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_250306212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_250306212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_252206212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_252206212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_252206212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_252206212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_252206212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_253206212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_253206212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_253206212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_253206212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_253206212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_253506212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_253506212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_253506212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_253506212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_253506212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_253706212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_253706212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_253706212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_253706212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_253706212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_253906212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_253906212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_253906212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_253906212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_253906212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_254306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_254306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_254306212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_254306212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_254306212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_254606212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_254606212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_254606212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_254606212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_254606212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_254806212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_254806212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_254806212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_254806212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_254806212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_255306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_255306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_255306212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_255306212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_255306212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_255906212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_255906212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_255906212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_255906212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_255906212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_256306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_256306212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_256306212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_256306212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_256306212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_256906212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_256906212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_256906212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_256906212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_256906212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_257406212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_257406212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_257406212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_257406212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_257406212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_258706212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_258706212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_258706212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_258706212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_258706212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_259506212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_259506212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_259506212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_259506212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_259506212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_259906212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_259906212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_259906212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_259906212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_259906212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_260206212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_260206212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_260206212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_260206212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_260206212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_260606212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_260606212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_260606212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_260606212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_260606212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190621_FallCreek_Deck_400/DSC_260806212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_800/DSC_260806212019_MrFixIt_Deck_FallCreek.jpg, {{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_260806212019_MrFixIt_Deck_FallCreek.jpg"
      data-src="{{
        path
      }}/20190621_FallCreek_Deck_1600/DSC_260806212019_MrFixIt_Deck_FallCreek.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/20190621_FallCreek_Deck_Thumbs/DSC_260806212019_MrFixIt_Deck_FallCreek.jpg"
        />
      </a>
    </li>
  </ul>
</div>
