<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



    <li data-responsive="{{path}}Reduce400/Steeplechase_Sunroom_03.jpg, {{path}}/Reduce800/Steeplechase_Sunroom_03.jpg, {{path}}/Steeplechase_Sunroom_03.jpg" data-src="{{path}}/Steeplechase_Sunroom_03.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Steeplechase_Sunroom_03.jpg">
      
    </li>



    <li data-responsive="{{path}}Reduce400/Steeplechase_Sunroom_09.jpg, {{path}}/Reduce800/Steeplechase_Sunroom_09.jpg, {{path}}/Steeplechase_Sunroom_09.jpg" data-src="{{path}}/Steeplechase_Sunroom_09.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Steeplechase_Sunroom_09.jpg">
      
    </li>

    <li data-responsive="{{path}}Reduce400/Steeplechase_Sunroom_11.jpg, {{path}}/Reduce800/Steeplechase_Sunroom_11.jpg, {{path}}/Steeplechase_Sunroom_11.jpg" data-src="{{path}}/Steeplechase_Sunroom_11.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Steeplechase_Sunroom_11.jpg">
      
    </li>

    <li data-responsive="{{path}}Reduce400/Steeplechase_Sunroom_01.jpg, {{path}}/Reduce800/Steeplechase_Sunroom_01.jpg, {{path}}/Steeplechase_Sunroom_01.jpg" data-src="{{path}}/Steeplechase_Sunroom_01.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Steeplechase_Sunroom_01.jpg">
      
    </li>

    <li data-responsive="{{path}}Reduce400/Steeplechase_Sunroom_02.jpg, {{path}}/Reduce800/Steeplechase_Sunroom_02.jpg, {{path}}/Steeplechase_Sunroom_02.jpg" data-src="{{path}}/Steeplechase_Sunroom_02.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Steeplechase_Sunroom_02.jpg">
      
    </li>

    <li data-responsive="{{path}}Reduce400/Steeplechase_Sunroom_04.jpg, {{path}}/Reduce800/Steeplechase_Sunroom_04.jpg, {{path}}/Steeplechase_Sunroom_04.jpg" data-src="{{path}}/Steeplechase_Sunroom_04.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Steeplechase_Sunroom_04.jpg">
      
    </li>

    <li data-responsive="{{path}}Reduce400/Steeplechase_Sunroom_07.jpg, {{path}}/Reduce800/Steeplechase_Sunroom_07.jpg, {{path}}/Steeplechase_Sunroom_07.jpg" data-src="{{path}}/Steeplechase_Sunroom_07.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Steeplechase_Sunroom_07.jpg">
      
    </li>

    <li data-responsive="{{path}}Reduce400/Steeplechase_Sunroom_08.jpg, {{path}}/Reduce800/Steeplechase_Sunroom_08.jpg, {{path}}/Steeplechase_Sunroom_08.jpg" data-src="{{path}}/Steeplechase_Sunroom_08.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Steeplechase_Sunroom_08.jpg">
      
    </li>

    <li data-responsive="{{path}}Reduce400/Steeplechase_Sunroom_12.jpg, {{path}}/Reduce800/Steeplechase_Sunroom_12.jpg, {{path}}/Steeplechase_Sunroom_12.jpg" data-src="{{path}}/Steeplechase_Sunroom_12.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Steeplechase_Sunroom_12.jpg">
      
    </li>

    <li data-responsive="{{path}}Reduce400/Steeplechase_Sunroom_05.jpg, {{path}}/Reduce800/Steeplechase_Sunroom_05.jpg, {{path}}/Steeplechase_Sunroom_05.jpg" data-src="{{path}}/Steeplechase_Sunroom_05.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Steeplechase_Sunroom_05.jpg">
      
    </li>







  </ul>
</div>
</div>