<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7646.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7646.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7646.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7646.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7646.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DJI_0106.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DJI_0106.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0106.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0106.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DJI_0106.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DJI_0108.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DJI_0108.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0108.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0108.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DJI_0108.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DJI_0112.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DJI_0112.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0112.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0112.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DJI_0112.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DJI_0113.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DJI_0113.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0113.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0113.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DJI_0113.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DJI_0114.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DJI_0114.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0114.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0114.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DJI_0114.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DJI_0115.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DJI_0115.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0115.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0115.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DJI_0115.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DJI_0117.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DJI_0117.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0117.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0117.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DJI_0117.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DJI_0121.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DJI_0121.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0121.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0121.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DJI_0121.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DJI_0123.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DJI_0123.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0123.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DJI_0123.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DJI_0123.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7616.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7616.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7616.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7616.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7616.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7618.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7618.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7618.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7618.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7618.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7620.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7620.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7620.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7620.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7620.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7622.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7622.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7622.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7622.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7622.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7623.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7623.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7623.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7623.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7623.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7629.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7629.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7629.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7629.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7629.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7632.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7632.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7632.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7632.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7632.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7639.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7639.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7639.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7639.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7639.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7646.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7646.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7646.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7646.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7646.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7649.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7649.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7649.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7649.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7649.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7651.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7651.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7651.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7651.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7651.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7665.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7665.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7665.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7665.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7665.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7667.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7667.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7667.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7667.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7667.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7667.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7667.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7667.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7667.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7667.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7670.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7670.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7670.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7670.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7670.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7673.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7673.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7673.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7673.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7673.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7676.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7676.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7676.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7676.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7676.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7680.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7680.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7680.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7680.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7680.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7682.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7682.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7682.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7682.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7682.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7688.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7688.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7688.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7688.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7688.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7689.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7689.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7689.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7689.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7689.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7696.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7696.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7696.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7696.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7696.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7700.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7700.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7700.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7700.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7700.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7705.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7705.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7705.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7705.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7705.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7708.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7708.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7708.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7708.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7708.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7714.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7714.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7714.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7714.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7714.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7718.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7718.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7718.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7718.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7718.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7721.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7721.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7721.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7721.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7721.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7726.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7726.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7726.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7726.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7726.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7731.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7731.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7731.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7731.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7731.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7733.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7733.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7733.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7733.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7733.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_Arrowhead_Deck_400/20190816-DSC_7739.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_800/20190816-DSC_7739.jpg, {{
        path
      }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7739.jpg"
      data-src="{{ path }}/20190816_Arrowhead_Deck_1600/20190816-DSC_7739.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_Arrowhead_Deck_Thumbs/20190816-DSC_7739.jpg"
        />
      </a>
    </li>
  </ul>
</div>
