<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DJI_0081.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DJI_0081.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DJI_0081.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DJI_0081.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DJI_0081.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DJI_0089.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DJI_0089.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DJI_0089.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DJI_0089.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DJI_0089.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DJI_0092.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DJI_0092.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DJI_0092.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DJI_0092.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DJI_0092.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DJI_0099.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DJI_0099.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DJI_0099.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DJI_0099.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DJI_0099.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DJI_0102.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DJI_0102.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DJI_0102.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DJI_0102.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DJI_0102.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DSC_7521.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DSC_7521.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DSC_7521.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DSC_7521.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DSC_7521.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DSC_7525.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DSC_7525.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DSC_7525.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DSC_7525.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DSC_7525.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DSC_7530.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DSC_7530.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DSC_7530.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DSC_7530.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DSC_7530.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DSC_7534.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DSC_7534.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DSC_7534.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DSC_7534.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DSC_7534.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DSC_7542.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DSC_7542.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DSC_7542.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DSC_7542.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DSC_7542.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DSC_7553.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DSC_7553.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DSC_7553.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DSC_7553.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DSC_7553.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DSC_7573.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DSC_7573.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DSC_7573.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DSC_7573.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DSC_7573.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DSC_7577.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DSC_7577.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DSC_7577.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DSC_7577.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DSC_7577.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DSC_7561.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DSC_7561.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DSC_7561.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DSC_7561.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DSC_7561.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DSC_7595.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DSC_7595.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DSC_7595.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DSC_7595.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DSC_7595.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DSC_7536.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DSC_7536.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DSC_7536.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DSC_7536.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DSC_7536.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DSC_7545.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DSC_7545.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DSC_7545.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DSC_7545.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DSC_7545.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/20190816_LakeView_400/20190816-DSC_7556.jpg, {{
        path
      }}/20190816_LakeView_800/20190816-DSC_7556.jpg, {{
        path
      }}/20190816_LakeView_1600/20190816-DSC_7556.jpg"
      data-src="{{ path }}/20190816_LakeView_1600/20190816-DSC_7556.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/20190816_LakeView_Thumbs/20190816-DSC_7556.jpg"
        />
      </a>
    </li>
  </ul>
</div>
