<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7923.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7923.jpg"
      data-src="{{ path }}/20190913-DSC_7923.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7923.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7932.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7932.jpg"
      data-src="{{ path }}/20190913-DSC_7932.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7932.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7944.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7944.jpg"
      data-src="{{ path }}/20190913-DSC_7944.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7944.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7973.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7973.jpg"
      data-src="{{ path }}/20190913-DSC_7973.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7973.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7952.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7952.jpg"
      data-src="{{ path }}/20190913-DSC_7952.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7952.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7953.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7953.jpg"
      data-src="{{ path }}/20190913-DSC_7953.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7953.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7956.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7956.jpg"
      data-src="{{ path }}/20190913-DSC_7956.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7956.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7946.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7946.jpg"
      data-src="{{ path }}/20190913-DSC_7946.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7946.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7960.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7960.jpg"
      data-src="{{ path }}/20190913-DSC_7960.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7960.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7965.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7965.jpg"
      data-src="{{ path }}/20190913-DSC_7965.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7965.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7976.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7976.jpg"
      data-src="{{ path }}/20190913-DSC_7976.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7976.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7988.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7988.jpg"
      data-src="{{ path }}/20190913-DSC_7988.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7988.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7990.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7990.jpg"
      data-src="{{ path }}/20190913-DSC_7990.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7990.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_7998.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_7998.jpg"
      data-src="{{ path }}/20190913-DSC_7998.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_7998.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_8008.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_8008.jpg"
      data-src="{{ path }}/20190913-DSC_8008.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_8008.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_8012.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_8012.jpg"
      data-src="{{ path }}/20190913-DSC_8012.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_8012.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_8024.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_8024.jpg"
      data-src="{{ path }}/20190913-DSC_8024.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_8024.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_8033.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_8033.jpg"
      data-src="{{ path }}/20190913-DSC_8033.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_8033.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_8034.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_8034.jpg"
      data-src="{{ path }}/20190913-DSC_8034.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_8034.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_8041.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_8041.jpg"
      data-src="{{ path }}/20190913-DSC_8041.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_8041.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_8057.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_8057.jpg"
      data-src="{{ path }}/20190913-DSC_8057.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_8057.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_8060.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_8060.jpg"
      data-src="{{ path }}/20190913-DSC_8060.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_8060.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_8063.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_8063.jpg"
      data-src="{{ path }}/20190913-DSC_8063.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_8063.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_8066.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_8066.jpg"
      data-src="{{ path }}/20190913-DSC_8066.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_8066.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_8075.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_8075.jpg"
      data-src="{{ path }}/20190913-DSC_8075.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_8075.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_8080.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_8080.jpg"
      data-src="{{ path }}/20190913-DSC_8080.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_8080.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/Reduce400/20190913-DSC_8093.jpg, {{
        path
      }}/Reduce800/20190913-DSC_7923.jpg, {{ path }}20190913-DSC_8093.jpg"
      data-src="{{ path }}/20190913-DSC_8093.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}20190913-DSC_8093.jpg" />
      </a>
    </li>
  </ul>
</div>
