<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



    <li data-responsive="{{path}}/Reduce400/RoundtreeBath_03242017_32.jpg, {{path}}/Reduce800/RoundtreeBath_03242017_32.jpg, {{path}}/RoundtreeBath_03242017_32.jpg" data-src="{{path}}/RoundtreeBath_03242017_32.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/RoundtreeBath_03242017_32.jpg">
       
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/RoundtreeBath_03242017_19.jpg, {{path}}/Reduce800/RoundtreeBath_03242017_32.jpg, {{path}}/RoundtreeBath_03242017_19.jpg" data-src="{{path}}/RoundtreeBath_03242017_19.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/RoundtreeBath_03242017_19.jpg">
       
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/RoundtreeBath_03242017_29.jpg, {{path}}/Reduce800/RoundtreeBath_03242017_32.jpg, {{path}}/RoundtreeBath_03242017_29.jpg" data-src="{{path}}/RoundtreeBath_03242017_29.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/RoundtreeBath_03242017_29.jpg">
       
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/RoundtreeBath_03242017_27.jpg, {{path}}/Reduce800/RoundtreeBath_03242017_32.jpg, {{path}}/RoundtreeBath_03242017_27.jpg" data-src="{{path}}/RoundtreeBath_03242017_27.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/RoundtreeBath_03242017_27.jpg">
       
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/RoundtreeBath_03242017_01.jpg, {{path}}/Reduce800/RoundtreeBath_03242017_32.jpg, {{path}}/RoundtreeBath_03242017_01.jpg" data-src="{{path}}/RoundtreeBath_03242017_01.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/RoundtreeBath_03242017_01.jpg">
       
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/RoundtreeBath_03242017_24.jpg, {{path}}/Reduce800/RoundtreeBath_03242017_32.jpg, {{path}}/RoundtreeBath_03242017_24.jpg" data-src="{{path}}/RoundtreeBath_03242017_24.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/RoundtreeBath_03242017_24.jpg">
       
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/RoundtreeBath_03242017_05.jpg, {{path}}/Reduce800/RoundtreeBath_03242017_32.jpg, {{path}}/RoundtreeBath_03242017_05.jpg" data-src="{{path}}/RoundtreeBath_03242017_05.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/RoundtreeBath_03242017_05.jpg">
       
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/RoundtreeBath_03242017_08.jpg, {{path}}/Reduce800/RoundtreeBath_03242017_32.jpg, {{path}}/RoundtreeBath_03242017_08.jpg" data-src="{{path}}/RoundtreeBath_03242017_08.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/RoundtreeBath_03242017_08.jpg">
       
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/RoundtreeBath_03242017_10.jpg, {{path}}/Reduce800/RoundtreeBath_03242017_32.jpg, {{path}}/RoundtreeBath_03242017_10.jpg" data-src="{{path}}/RoundtreeBath_03242017_10.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/RoundtreeBath_03242017_10.jpg">
       
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/RoundtreeBath_03242017_13.jpg, {{path}}/Reduce800/RoundtreeBath_03242017_32.jpg, {{path}}/RoundtreeBath_03242017_13.jpg" data-src="{{path}}/RoundtreeBath_03242017_13.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/RoundtreeBath_03242017_13.jpg">
       
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/RoundtreeBath_03242017_15.jpg, {{path}}/Reduce800/RoundtreeBath_03242017_32.jpg, {{path}}/RoundtreeBath_03242017_15.jpg" data-src="{{path}}/RoundtreeBath_03242017_15.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/RoundtreeBath_03242017_15.jpg">
       
      </a>
    </li>









  </ul>
</div>
</div>