<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



    <li data-responsive="{{path}}Reduce400/10242018_MrFixIt_EastwindPlace-3.jpg, {{path}}/Reduce800/10242018_MrFixIt_EastwindPlace-3.jpg, {{path}}/10242018_MrFixIt_EastwindPlace-3.jpg" data-src="{{path}}/10242018_MrFixIt_EastwindPlace-3.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/10242018_MrFixIt_EastwindPlace-3.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/10242018_MrFixIt_EastwindPlace-6.jpg, {{path}}/Reduce800/10242018_MrFixIt_EastwindPlace-6.jpg, {{path}}/10242018_MrFixIt_EastwindPlace-6.jpg" data-src="{{path}}/10242018_MrFixIt_EastwindPlace-6.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/10242018_MrFixIt_EastwindPlace-6.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/10242018_MrFixIt_EastwindPlace-8.jpg, {{path}}/Reduce800/10242018_MrFixIt_EastwindPlace-8.jpg, {{path}}/10242018_MrFixIt_EastwindPlace-8.jpg" data-src="{{path}}/10242018_MrFixIt_EastwindPlace-8.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/10242018_MrFixIt_EastwindPlace-8.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/10242018_MrFixIt_EastwindPlace-9.jpg, {{path}}/Reduce800/10242018_MrFixIt_EastwindPlace-9.jpg, {{path}}/10242018_MrFixIt_EastwindPlace-9.jpg" data-src="{{path}}/10242018_MrFixIt_EastwindPlace-9.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/10242018_MrFixIt_EastwindPlace-9.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/10242018_MrFixIt_EastwindPlace-11.jpg, {{path}}/Reduce800/10242018_MrFixIt_EastwindPlace-11.jpg, {{path}}/10242018_MrFixIt_EastwindPlace-11.jpg" data-src="{{path}}/10242018_MrFixIt_EastwindPlace-11.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/10242018_MrFixIt_EastwindPlace-11.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/10242018_MrFixIt_EastwindPlace-13.jpg, {{path}}/Reduce800/10242018_MrFixIt_EastwindPlace-13.jpg, {{path}}/10242018_MrFixIt_EastwindPlace-13.jpg" data-src="{{path}}/10242018_MrFixIt_EastwindPlace-13.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/10242018_MrFixIt_EastwindPlace-13.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/10242018_MrFixIt_EastwindPlace-15.jpg, {{path}}/Reduce800/10242018_MrFixIt_EastwindPlace-15.jpg, {{path}}/10242018_MrFixIt_EastwindPlace-15.jpg" data-src="{{path}}/10242018_MrFixIt_EastwindPlace-15.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/10242018_MrFixIt_EastwindPlace-15.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/10242018_MrFixIt_EastwindPlace-18.jpg, {{path}}/Reduce800/10242018_MrFixIt_EastwindPlace-18.jpg, {{path}}/10242018_MrFixIt_EastwindPlace-18.jpg" data-src="{{path}}/10242018_MrFixIt_EastwindPlace-18.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/10242018_MrFixIt_EastwindPlace-18.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/10242018_MrFixIt_EastwindPlace-23.jpg, {{path}}/Reduce800/10242018_MrFixIt_EastwindPlace-23.jpg, {{path}}/10242018_MrFixIt_EastwindPlace-23.jpg" data-src="{{path}}/10242018_MrFixIt_EastwindPlace-23.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/10242018_MrFixIt_EastwindPlace-23.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/10242018_MrFixIt_EastwindPlace-27.jpg, {{path}}/Reduce800/10242018_MrFixIt_EastwindPlace-27.jpg, {{path}}/10242018_MrFixIt_EastwindPlace-27.jpg" data-src="{{path}}/10242018_MrFixIt_EastwindPlace-27.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/10242018_MrFixIt_EastwindPlace-27.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>




  </ul>
</div>
</div>