<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_01.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_01.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_01.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_01.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_01.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_06.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_06.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_06.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_06.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_06.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_11.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_11.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_11.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_11.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_11.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_14.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_14.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_14.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_14.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_14.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_17.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_17.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_17.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_17.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_17.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_22.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_22.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_22.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_22.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_22.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_02.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_02.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_02.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_02.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_02.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_04.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_04.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_04.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_04.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_04.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_05.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_05.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_05.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_05.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_05.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_07.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_07.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_07.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_07.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_07.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_08.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_08.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_08.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_08.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_08.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_10.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_10.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_10.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_10.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_10.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_13.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_13.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_13.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_13.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_13.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_15.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_15.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_15.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_15.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_15.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_16.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_16.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_16.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_16.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_16.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_18.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_18.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_18.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_18.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_18.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_20.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_20.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_20.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_20.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_20.jpg">
      
      </a>
    </li>

    <li data-responsive="{{path}}/Reduce400/MrFixIt_Watauga_RoomAddition_21.jpg, {{path}}/Reduce800/MrFixIt_Watauga_RoomAddition_21.jpg, {{path}}/MrFixIt_Watauga_RoomAddition_21.jpg" data-src="{{path}}/MrFixIt_Watauga_RoomAddition_21.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/MrFixIt_Watauga_RoomAddition_21.jpg">
      
      </a>
    </li>










  </ul>
</div>
</div>