<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_09.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_09.jpg, {{path}}/PrestoneForest_AutumnDeck_09.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_09.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_09.jpg">
        
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_02.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_02.jpg, {{path}}/PrestoneForest_AutumnDeck_02.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_02.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_02.jpg">
        
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_10.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_10.jpg, {{path}}/PrestoneForest_AutumnDeck_10.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_10.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_10.jpg">
        
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_12.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_12.jpg, {{path}}/PrestoneForest_AutumnDeck_12.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_12.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_12.jpg">
        
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_01.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_01.jpg, {{path}}/PrestoneForest_AutumnDeck_01.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_01.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_01.jpg">
        
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_03.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_03.jpg, {{path}}/PrestoneForest_AutumnDeck_03.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_03.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_03.jpg">
        
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_04.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_04.jpg, {{path}}/PrestoneForest_AutumnDeck_04.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_04.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_04.jpg">
        
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/PrestoneForest_AutumnDeck_06.jpg, {{path}}/Reduce800/PrestoneForest_AutumnDeck_06.jpg, {{path}}/PrestoneForest_AutumnDeck_06.jpg" data-src="{{path}}/PrestoneForest_AutumnDeck_06.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/PrestoneForest_AutumnDeck_06.jpg">
        
      </a>
    </li>



  </ul>
</div>
</div>