<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



    <li data-responsive="{{path}}Reduce400/Allandale_Porch_01.jpg, {{path}}/Reduce800/Allandale_Porch_01.jpg, {{path}}/Allandale_Porch_01.jpg" data-src="{{path}}/Allandale_Porch_01.jpg"
  >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Allandale_Porch_01.jpg">
       
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/Allandale_Porch_02.jpg, {{path}}/Reduce800/Allandale_Porch_02.jpg, {{path}}/Allandale_Porch_02.jpg" data-src="{{path}}/Allandale_Porch_02.jpg"
  >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Allandale_Porch_02.jpg">
       
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/Allandale_Porch_03.jpg, {{path}}/Reduce800/Allandale_Porch_03.jpg, {{path}}/Allandale_Porch_03.jpg" data-src="{{path}}/Allandale_Porch_03.jpg"
  >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Allandale_Porch_03.jpg">
       
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/Allandale_Porch_04.jpg, {{path}}/Reduce800/Allandale_Porch_04.jpg, {{path}}/Allandale_Porch_04.jpg" data-src="{{path}}/Allandale_Porch_04.jpg"
  >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Allandale_Porch_04.jpg">
       
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/Allandale_Porch_05.jpg, {{path}}/Reduce800/Allandale_Porch_05.jpg, {{path}}/Allandale_Porch_05.jpg" data-src="{{path}}/Allandale_Porch_05.jpg"
  >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/Allandale_Porch_05.jpg">
       
      </a>
    </li>





  </ul>
</div>
</div>