<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{
        path
      }}Reduce400/MrFixIt_07252018_RadcliffAvenue-7.jpg, {{
        path
      }}/Reduce800/MrFixIt_07252018_RadcliffAvenue-.jpg, {{
        path
      }}MrFixIt_07252018_RadcliffAvenue-7.jpg"
      data-src="{{ path }}MrFixIt_07252018_RadcliffAvenue-7.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/MrFixIt_07252018_RadcliffAvenue-7.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/MrFixIt_07252018_RadcliffAvenue-9.jpg, {{
        path
      }}/Reduce800/MrFixIt_07252018_RadcliffAvenue-9.jpg, {{
        path
      }}MrFixIt_07252018_RadcliffAvenue-9.jpg"
      data-src="{{ path }}MrFixIt_07252018_RadcliffAvenue-9.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/MrFixIt_07252018_RadcliffAvenue-9.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/MrFixIt_07252018_RadcliffAvenue-15.jpg, {{
        path
      }}/Reduce800/MrFixIt_07252018_RadcliffAvenue-15.jpg, {{
        path
      }}MrFixIt_07252018_RadcliffAvenue-15.jpg"
      data-src="{{ path }}MrFixIt_07252018_RadcliffAvenue-15.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/MrFixIt_07252018_RadcliffAvenue-15.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/MrFixIt_07252018_RadcliffAvenue-16.jpg, {{
        path
      }}/Reduce800/MrFixIt_07252018_RadcliffAvenue-16.jpg, {{
        path
      }}MrFixIt_07252018_RadcliffAvenue-16.jpg"
      data-src="{{ path }}MrFixIt_07252018_RadcliffAvenue-16.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/MrFixIt_07252018_RadcliffAvenue-16.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/MrFixIt_07252018_RadcliffAvenue-19.jpg, {{
        path
      }}/Reduce800/MrFixIt_07252018_RadcliffAvenue-19.jpg, {{
        path
      }}MrFixIt_07252018_RadcliffAvenue-19.jpg"
      data-src="{{ path }}MrFixIt_07252018_RadcliffAvenue-19.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/MrFixIt_07252018_RadcliffAvenue-19.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/MrFixIt_07252018_RadcliffAvenue-26.jpg, {{
        path
      }}/Reduce800/MrFixIt_07252018_RadcliffAvenue-26.jpg, {{
        path
      }}MrFixIt_07252018_RadcliffAvenue-26.jpg"
      data-src="{{ path }}MrFixIt_07252018_RadcliffAvenue-26.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/MrFixIt_07252018_RadcliffAvenue-26.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/MrFixIt_07252018_RadcliffAvenue-30.jpg, {{
        path
      }}/Reduce800/MrFixIt_07252018_RadcliffAvenue-30.jpg, {{
        path
      }}MrFixIt_07252018_RadcliffAvenue-30.jpg"
      data-src="{{ path }}MrFixIt_07252018_RadcliffAvenue-30.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/MrFixIt_07252018_RadcliffAvenue-30.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/MrFixIt_07252018_RadcliffAvenue-36.jpg, {{
        path
      }}/Reduce800/MrFixIt_07252018_RadcliffAvenue-36.jpg, {{
        path
      }}MrFixIt_07252018_RadcliffAvenue-36.jpg"
      data-src="{{ path }}MrFixIt_07252018_RadcliffAvenue-36.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/MrFixIt_07252018_RadcliffAvenue-36.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/MrFixIt_07252018_RadcliffAvenue-42.jpg, {{
        path
      }}/Reduce800/MrFixIt_07252018_RadcliffAvenue-42.jpg, {{
        path
      }}MrFixIt_07252018_RadcliffAvenue-42.jpg"
      data-src="{{ path }}MrFixIt_07252018_RadcliffAvenue-42.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/MrFixIt_07252018_RadcliffAvenue-42.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/MrFixIt_07252018_RadcliffAvenue-4.jpg, {{
        path
      }}/Reduce800/MrFixIt_07252018_RadcliffAvenue-4.jpg, {{
        path
      }}MrFixIt_07252018_RadcliffAvenue-4.jpg"
      data-src="{{ path }}MrFixIt_07252018_RadcliffAvenue-4.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/MrFixIt_07252018_RadcliffAvenue-4.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/MrFixIt_07252018_RadcliffAvenue-13.jpg, {{
        path
      }}/Reduce800/MrFixIt_07252018_RadcliffAvenue-13.jpg, {{
        path
      }}MrFixIt_07252018_RadcliffAvenue-13.jpg"
      data-src="{{ path }}MrFixIt_07252018_RadcliffAvenue-13.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/MrFixIt_07252018_RadcliffAvenue-13.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/MrFixIt_07252018_RadcliffAvenue-23.jpg, {{
        path
      }}/Reduce800/MrFixIt_07252018_RadcliffAvenue-23.jpg, {{
        path
      }}MrFixIt_07252018_RadcliffAvenue-23.jpg"
      data-src="{{ path }}MrFixIt_07252018_RadcliffAvenue-23.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/MrFixIt_07252018_RadcliffAvenue-23.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/MrFixIt_07252018_RadcliffAvenue-35.jpg, {{
        path
      }}/Reduce800/MrFixIt_07252018_RadcliffAvenue-35.jpg, {{
        path
      }}MrFixIt_07252018_RadcliffAvenue-35.jpg"
      data-src="{{ path }}MrFixIt_07252018_RadcliffAvenue-35.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/MrFixIt_07252018_RadcliffAvenue-35.jpg"
        />
      </a>
    </li>
  </ul>
</div>
