<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_10.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_10.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_10.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_10.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_10.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_12.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_12.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_12.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_12.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_12.jpg">
        
      </a>
    </li>



    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_13.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_13.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_13.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_13.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_13.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_16.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_16.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_16.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_16.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_16.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_17.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_17.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_17.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_17.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_17.jpg">
        
      </a>
    </li>



    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_18.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_18.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_18.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_18.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_18.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_22.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_22.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_22.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_22.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_22.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_23.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_23.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_23.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_23.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_23.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_25.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_25.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_25.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_25.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_25.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_01.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_01.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_01.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_01.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_01.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_02.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_02.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_02.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_02.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_02.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_03.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_03.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_03.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_03.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_03.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_04.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_04.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_04.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_04.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_04.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_06.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_06.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_06.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_06.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_06.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_07.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_07.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_07.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_07.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_07.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_08.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_08.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_08.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_08.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_08.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_11.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_11.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_11.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_11.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_11.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_15.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_15.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_15.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_15.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_15.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}/Reduce400/MrFixIt_Blountville_Bathroom_Remodeling_04012017_21.jpg, {{path}}/Reduce800/MrFixIt_Blountville_Bathroom_Remodeling_04012017_21.jpg, {{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_21.jpg" data-src="{{path}}/MrFixIt_Blountville_Bathroom_Remodeling_04012017_21.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_Blountville_Bathroom_Remodeling_04012017_21.jpg">
        
      </a>
    </li>




    








  </ul>
</div>
</div>