<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-12.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-12.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-12.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-12.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-12.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-17.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-17.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-17.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-17.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-17.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-18.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-18.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-18.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-18.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-18.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-22.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-22.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-22.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-22.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-22.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-34.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-34.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-34.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-34.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-34.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-33.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-33.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-33.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-33.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-33.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-2.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-2.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-2.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-2.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-2.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-37.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-37.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-37.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-37.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-37.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-39.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-39.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-39.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-39.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-39.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-42.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-42.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-42.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-42.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-42.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-43.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-43.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-43.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-43.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-43.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-44.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-44.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-44.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-44.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-44.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-47.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-47.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-47.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-47.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-47.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-49.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-49.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-49.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-49.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-49.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-52.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-52.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-52.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-52.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-52.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-59.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-59.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-59.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-59.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-59.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-64.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-64.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-64.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-64.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-64.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-66.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-66.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-66.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-66.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-66.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-67.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-67.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-67.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-67.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-67.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-72.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-72.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-72.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-72.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-72.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-74.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-74.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-74.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-74.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-74.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-77.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-77.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-77.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-77.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-77.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-82.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-82.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-82.jpg"
      data-src="{{ path }}/03222019_OldHam_MrFixIt_Bathrooms-82.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/03222019_OldHam_MrFixIt_Bathrooms-82.jpg"
        />
      </a>
    </li>
  </ul>
</div>
