<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



    <li data-responsive="{{path}}Reduce400/03012017_PrestoneForest_Bathroom_02.jpg, {{path}}/Reduce800/, {{path}}/03012017_PrestoneForest_Bathroom_02.jpg" data-src="{{path}}/03012017_PrestoneForest_Bathroom_02.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/03012017_PrestoneForest_Bathroom_02.jpg">
        
      </a>
    </li>



    <li data-responsive="{{path}}Reduce400/03012017_PrestoneForest_Bathroom_02.jpg, {{path}}/Reduce800/, {{path}}/03012017_PrestoneForest_Bathroom_02.jpg" data-src="{{path}}/03012017_PrestoneForest_Bathroom_02.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/03012017_PrestoneForest_Bathroom_02.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/03012017_PrestoneForest_Bathroom_06.jpg, {{path}}/Reduce800/, {{path}}/03012017_PrestoneForest_Bathroom_06.jpg" data-src="{{path}}/03012017_PrestoneForest_Bathroom_06.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/03012017_PrestoneForest_Bathroom_06.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/03012017_PrestoneForest_Bathroom_08.jpg, {{path}}/Reduce800/, {{path}}/03012017_PrestoneForest_Bathroom_08.jpg" data-src="{{path}}/03012017_PrestoneForest_Bathroom_08.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/03012017_PrestoneForest_Bathroom_08.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/03012017_PrestoneForest_Bathroom_12.jpg, {{path}}/Reduce800/, {{path}}/03012017_PrestoneForest_Bathroom_12.jpg" data-src="{{path}}/03012017_PrestoneForest_Bathroom_12.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/03012017_PrestoneForest_Bathroom_12.jpg">
        
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/03012017_PrestoneForest_Bathroom_13.jpg, {{path}}/Reduce800/, {{path}}/03012017_PrestoneForest_Bathroom_13.jpg" data-src="{{path}}/03012017_PrestoneForest_Bathroom_13.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/03012017_PrestoneForest_Bathroom_13.jpg">
        
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/03012017_PrestoneForest_Bathroom_04.jpg, {{path}}/Reduce800/, {{path}}/03012017_PrestoneForest_Bathroom_04.jpg" data-src="{{path}}/03012017_PrestoneForest_Bathroom_04.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/03012017_PrestoneForest_Bathroom_04.jpg">
        
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/03012017_PrestoneForest_Bathroom_07.jpg, {{path}}/Reduce800/, {{path}}/03012017_PrestoneForest_Bathroom_07.jpg" data-src="{{path}}/03012017_PrestoneForest_Bathroom_07.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/03012017_PrestoneForest_Bathroom_07.jpg">
        
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/03012017_PrestoneForest_Bathroom_09.jpg, {{path}}/Reduce800/, {{path}}/03012017_PrestoneForest_Bathroom_09.jpg" data-src="{{path}}/03012017_PrestoneForest_Bathroom_09.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/03012017_PrestoneForest_Bathroom_09.jpg">
        
      </a>
    </li>


 




  </ul>
</div>
</div>