<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05172015_Jonesborough_Kitchen_04.jpg, {{
        path
      }}/Reduce800/05172015_Jonesborough_Kitchen_04.jpg, {{
        path
      }}/05172015_Jonesborough_Kitchen_04.jpg"
      data-src="{{ path }}/05172015_Jonesborough_Kitchen_04.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05172015_Jonesborough_Kitchen_04.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05172015_Jonesborough_Kitchen_01.jpg, {{
        path
      }}/Reduce800/05172015_Jonesborough_Kitchen_01.jpg, {{
        path
      }}/05172015_Jonesborough_Kitchen_01.jpg"
      data-src="{{ path }}/05172015_Jonesborough_Kitchen_01.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05172015_Jonesborough_Kitchen_01.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05172015_Jonesborough_Kitchen_02.jpg, {{
        path
      }}/Reduce800/05172015_Jonesborough_Kitchen_02.jpg, {{
        path
      }}/05172015_Jonesborough_Kitchen_02.jpg"
      data-src="{{ path }}/05172015_Jonesborough_Kitchen_02.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05172015_Jonesborough_Kitchen_02.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05172015_Jonesborough_Kitchen_05.jpg, {{
        path
      }}/Reduce800/05172015_Jonesborough_Kitchen_05.jpg, {{
        path
      }}/05172015_Jonesborough_Kitchen_05.jpg"
      data-src="{{ path }}/05172015_Jonesborough_Kitchen_05.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05172015_Jonesborough_Kitchen_05.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/Reduce400/05172015_Jonesborough_Kitchen_06.jpg, {{
        path
      }}/Reduce800/05172015_Jonesborough_Kitchen_06.jpg, {{
        path
      }}/05172015_Jonesborough_Kitchen_06.jpg"
      data-src="{{ path }}/05172015_Jonesborough_Kitchen_06.jpg"
      data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
      data-pinterest-text="Pin it"
      data-tweet-text="share on twitter "
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/Thumbnails/05172015_Jonesborough_Kitchen_06.jpg"
        />
        <div class="demo-gallery-poster">
          <img
            src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"
          />
        </div>
      </a>
    </li>
  </ul>
</div>
