<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}Resize400/Reduce400.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-2.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{ path }}Resize400/Reduce400.jpg" />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-4.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}08222018_MrFixItHomeImprovements_MountCarmelBath-4.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-5.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}08222018_MrFixItHomeImprovements_MountCarmelBath-4.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-9.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}08222018_MrFixItHomeImprovements_MountCarmelBath-9.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-11.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}08222018_MrFixItHomeImprovements_MountCarmelBath-11.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-13.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}08222018_MrFixItHomeImprovements_MountCarmelBath-13.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-18.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}08222018_MrFixItHomeImprovements_MountCarmelBath-18.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-19.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}08222018_MrFixItHomeImprovements_MountCarmelBath-19.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-21.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}08222018_MrFixItHomeImprovements_MountCarmelBath-21.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-24.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}08222018_MrFixItHomeImprovements_MountCarmelBath-24.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}Reduce400/03222019_OldHam_MrFixIt_Bathrooms/Reduce400/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/Reduce800/03222019_OldHam_MrFixIt_Bathrooms-5.jpg, {{
        path
      }}03222019_OldHam_MrFixIt_Bathrooms/03222019_OldHam_MrFixIt_Bathrooms-5.jpg"
      data-src="{{
        path
      }}08222018_MrFixItHomeImprovements_MountCarmelBath-23.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}08222018_MrFixItHomeImprovements_MountCarmelBath-23.jpg"
        />
      </a>
    </li>
  </ul>
</div>
