<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-2.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-2.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-2.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-2.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-2.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-3.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-3.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-3.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-3.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-3.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-5.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-5.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-5.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-5.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-5.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-6.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-6.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-6.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-6.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-6.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-8.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-8.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-8.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-8.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-8.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-9.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-9.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-9.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-9.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-9.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-10.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-10.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-10.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-10.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-10.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-12.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-12.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-12.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-12.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-12.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-14.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-14.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-14.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-14.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-14.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-15.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-15.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-15.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-15.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-15.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-17.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-17.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-17.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-17.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-17.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-18.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-18.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-18.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-18.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-18.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-20.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-20.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-20.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-20.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-20.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{
        path
      }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-21.jpg, {{
        path
      }}/05032019_HoustonKitchen_800/05032019_MrFixIt_Houston_Kitchen-21.jpg, {{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-21.jpg"
      data-src="{{
        path
      }}//05032019_HoustonKitchen_1600/05032019_MrFixIt_Houston_Kitchen-21.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{
            path
          }}/05032019_HoustonKitchen_400/05032019_MrFixIt_Houston_Kitchen-21.jpg"
        />
      </a>
    </li>
  </ul>
</div>
