<div class="demo-gallery">
  <ul id="lightgallery">
    <div class="photo-archive-headline">
      <ul>
        <div class="project-headline">Project Details</div>
        <li>{{ summary }}</li>
        <li>{{ city }}</li>
        <li>{{ completion }}</li>
      </ul>
    </div>

    <div class="clickgallery">
      Click an image to see photos from this project.
    </div>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8526.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8526.jpg, {{ path }}/20191011-DSC_8526.jpg"
      data-src="{{ path }}/20191011-DSC_8526.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8526.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8500.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8500.jpg, {{ path }}/20191011-DSC_8500.jpg"
      data-src="{{ path }}/20191011-DSC_8500.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8500.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8507.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8507.jpg, {{ path }}/20191011-DSC_8507.jpg"
      data-src="{{ path }}/20191011-DSC_8507.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8507.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8510.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8510.jpg, {{ path }}/20191011-DSC_8510.jpg"
      data-src="{{ path }}/20191011-DSC_8510.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8510.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8526.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8526.jpg, {{ path }}/20191011-DSC_8526.jpg"
      data-src="{{ path }}/20191011-DSC_8526.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8526.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8539.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8539.jpg, {{ path }}/20191011-DSC_8539.jpg"
      data-src="{{ path }}/20191011-DSC_8539.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8539.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8592.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8592.jpg, {{ path }}/20191011-DSC_8592.jpg"
      data-src="{{ path }}/20191011-DSC_8592.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8592.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8591.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8591.jpg, {{ path }}/20191011-DSC_8591.jpg"
      data-src="{{ path }}/20191011-DSC_8591.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8591.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8584.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8584.jpg, {{ path }}/20191011-DSC_8584.jpg"
      data-src="{{ path }}/20191011-DSC_8584.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8584.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8563.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8563.jpg, {{ path }}/20191011-DSC_8563.jpg"
      data-src="{{ path }}/20191011-DSC_8563.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8563.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8555.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8555.jpg, {{ path }}/20191011-DSC_8555.jpg"
      data-src="{{ path }}/20191011-DSC_8555.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8555.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8524.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8524.jpg, {{ path }}/20191011-DSC_8524.jpg"
      data-src="{{ path }}/20191011-DSC_8524.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8524.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8512.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8512.jpg, {{ path }}/20191011-DSC_8512.jpg"
      data-src="{{ path }}/20191011-DSC_8512.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8512.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8506.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8506.jpg, {{ path }}/20191011-DSC_8506.jpg"
      data-src="{{ path }}/20191011-DSC_8506.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8506.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8503.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8503.jpg, {{ path }}/20191011-DSC_8503.jpg"
      data-src="{{ path }}/20191011-DSC_8503.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8503.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8496.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8496.jpg, {{ path }}/20191011-DSC_8496.jpg"
      data-src="{{ path }}/20191011-DSC_8496.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8496.jpg"
        />
      </a>
    </li>

    <li
      data-responsive="{{ path }}/ReSize_400/20191011-DSC_8473.jpg, {{
        path
      }}/ReSize_800/20191011-DSC_8473.jpg, {{ path }}/20191011-DSC_8473.jpg"
      data-src="{{ path }}/20191011-DSC_8473.jpg"
    >
      <a href="">
        <img
          class="img-responsive"
          src="{{ path }}/ReSize_400/20191011-DSC_8473.jpg"
        />
      </a>
    </li>
  </ul>
</div>
