<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



    <li data-responsive="{{path}}Reduce400/MrFixIt_03222018_SutffleHeights-20.jpg, {{path}}/Reduce800/MrFixIt_03222018_SutffleHeights-20.jpg, {{path}}/MrFixIt_03222018_SutffleHeights-20.jpg" data-src="{{path}}/MrFixIt_03222018_SutffleHeights-20.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_03222018_SutffleHeights-20.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

       <li data-responsive="{{path}}Reduce400/MrFixIt_03222018_SutffleHeights-19.jpg, {{path}}/Reduce800/MrFixIt_03222018_SutffleHeights-19.jpg, {{path}}/MrFixIt_03222018_SutffleHeights-19.jpg" data-src="{{path}}/MrFixIt_03222018_SutffleHeights-19.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_03222018_SutffleHeights-19.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/MrFixIt_03222018_SutffleHeights-2.jpg, {{path}}/Reduce800/MrFixIt_03222018_SutffleHeights-2.jpg, {{path}}/MrFixIt_03222018_SutffleHeights-2.jpg" data-src="{{path}}/MrFixIt_03222018_SutffleHeights-2.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_03222018_SutffleHeights-2.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/MrFixIt_03222018_SutffleHeights-3.jpg, {{path}}/Reduce800/MrFixIt_03222018_SutffleHeights-3.jpg, {{path}}/MrFixIt_03222018_SutffleHeights-3.jpg" data-src="{{path}}/MrFixIt_03222018_SutffleHeights-3.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_03222018_SutffleHeights-3.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/MrFixIt_03222018_SutffleHeights-4.jpg, {{path}}/Reduce800/MrFixIt_03222018_SutffleHeights-4.jpg, {{path}}/MrFixIt_03222018_SutffleHeights-4.jpg" data-src="{{path}}/MrFixIt_03222018_SutffleHeights-4.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_03222018_SutffleHeights-4.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/MrFixIt_03222018_SutffleHeights-5.jpg, {{path}}/Reduce800/MrFixIt_03222018_SutffleHeights-5.jpg, {{path}}/MrFixIt_03222018_SutffleHeights-5.jpg" data-src="{{path}}/MrFixIt_03222018_SutffleHeights-5.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_03222018_SutffleHeights-5.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/MrFixIt_03222018_SutffleHeights-7.jpg, {{path}}/Reduce800/MrFixIt_03222018_SutffleHeights-7.jpg, {{path}}/MrFixIt_03222018_SutffleHeights-7.jpg" data-src="{{path}}/MrFixIt_03222018_SutffleHeights-7.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_03222018_SutffleHeights-7.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/MrFixIt_03222018_SutffleHeights-8.jpg, {{path}}/Reduce800/MrFixIt_03222018_SutffleHeights-8.jpg, {{path}}/MrFixIt_03222018_SutffleHeights-8.jpg" data-src="{{path}}/MrFixIt_03222018_SutffleHeights-8.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_03222018_SutffleHeights-8.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/MrFixIt_03222018_SutffleHeights-12.jpg, {{path}}/Reduce800/MrFixIt_03222018_SutffleHeights-12.jpg, {{path}}/MrFixIt_03222018_SutffleHeights-12.jpg" data-src="{{path}}/MrFixIt_03222018_SutffleHeights-12.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_03222018_SutffleHeights-12.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/MrFixIt_03222018_SutffleHeights-14.jpg, {{path}}/Reduce800/MrFixIt_03222018_SutffleHeights-14.jpg, {{path}}/MrFixIt_03222018_SutffleHeights-14.jpg" data-src="{{path}}/MrFixIt_03222018_SutffleHeights-14.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_03222018_SutffleHeights-14.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/MrFixIt_03222018_SutffleHeights-16.jpg, {{path}}/Reduce800/MrFixIt_03222018_SutffleHeights-16.jpg, {{path}}/MrFixIt_03222018_SutffleHeights-16.jpg" data-src="{{path}}/MrFixIt_03222018_SutffleHeights-16.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_03222018_SutffleHeights-16.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/MrFixIt_03222018_SutffleHeights-18.jpg, {{path}}/Reduce800/MrFixIt_03222018_SutffleHeights-18.jpg, {{path}}/MrFixIt_03222018_SutffleHeights-18.jpg" data-src="{{path}}/MrFixIt_03222018_SutffleHeights-18.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/MrFixIt_03222018_SutffleHeights-18.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>




  </ul>
</div>
</div>