<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



    <li data-responsive="{{path}}Reduce400/ScreenPorch_Kingsport_02.jpg, {{path}}/Reduce800/ScreenPorch_Kingsport_02.jpg, {{path}}/ScreenPorch_Kingsport_02.jpg" data-src="{{path}}/ScreenPorch_Kingsport_02.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/ScreenPorch_Kingsport_02.jpg">
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/ScreenPorch_Kingsport_01.jpg, {{path}}/Reduce800/ScreenPorch_Kingsport_01.jpg, {{path}}/ScreenPorch_Kingsport_01.jpg" data-src="{{path}}/ScreenPorch_Kingsport_01.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/ScreenPorch_Kingsport_01.jpg">
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/ScreenPorch_Kingsport_04.jpg, {{path}}/Reduce800/ScreenPorch_Kingsport_04.jpg, {{path}}/ScreenPorch_Kingsport_04.jpg" data-src="{{path}}/ScreenPorch_Kingsport_04.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/ScreenPorch_Kingsport_04.jpg">
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/ScreenPorch_Kingsport_06.jpg, {{path}}/Reduce800/ScreenPorch_Kingsport_06.jpg, {{path}}/ScreenPorch_Kingsport_06.jpg" data-src="{{path}}/ScreenPorch_Kingsport_06.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/ScreenPorch_Kingsport_06.jpg">
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/ScreenPorch_Kingsport_07.jpg, {{path}}/Reduce800/ScreenPorch_Kingsport_07.jpg, {{path}}/ScreenPorch_Kingsport_07.jpg" data-src="{{path}}/ScreenPorch_Kingsport_07.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/ScreenPorch_Kingsport_07.jpg">
      </a>
    </li>


    <li data-responsive="{{path}}Reduce400/ScreenPorch_Kingsport_10.jpg, {{path}}/Reduce800/ScreenPorch_Kingsport_10.jpg, {{path}}/ScreenPorch_Kingsport_10.jpg" data-src="{{path}}/ScreenPorch_Kingsport_10.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/ScreenPorch_Kingsport_10.jpg">
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/ScreenPorch_Kingsport_03.jpg, {{path}}/Reduce800/ScreenPorch_Kingsport_03.jpg, {{path}}/ScreenPorch_Kingsport_03.jpg" data-src="{{path}}/ScreenPorch_Kingsport_03.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/ScreenPorch_Kingsport_03.jpg">
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/ScreenPorch_Kingsport_08.jpg, {{path}}/Reduce800/ScreenPorch_Kingsport_08.jpg, {{path}}/ScreenPorch_Kingsport_08.jpg" data-src="{{path}}/ScreenPorch_Kingsport_08.jpg"
    >
      <a href="">
        <img class="img-responsive" src="{{path}}/Thumbnails/ScreenPorch_Kingsport_08.jpg">
      </a>
    </li>

  </ul>
</div>
</div>