<div class="demo-gallery">
 
  <ul id="lightgallery">

      <div class="photo-archive-headline">
          <ul>
            <div class="project-headline">Project Details</div>
            <li>{{summary}}</li>
            <li>{{city}}</li>
            <li>{{completion}}</li>
          </ul>
          
        </div>

        <div class="clickgallery">Click an image to see photos from this project.</div>



    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-2.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-2.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-2.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-2.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-2.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-11.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-11.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-11.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-11.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-11.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-4.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-4.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-4.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-4.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-4.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>


        <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-17.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-17.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-17.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-17.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-17.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-18.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-18.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-18.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-18.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-18.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-20.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-20.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-20.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-20.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-20.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-26.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-26.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-26.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-26.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-26.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-28.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-28.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-28.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-28.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-28.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-30.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-30.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-30.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-30.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-30.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-32.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-32.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-32.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-32.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-32.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-38.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-38.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-38.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-38.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-38.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-52.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-52.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-52.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-52.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-52.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-57.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-57.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-57.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-57.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-57.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-58.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-58.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-58.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-58.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-58.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-13.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-13.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-13.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-13.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-13.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-21.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-21.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-21.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-21.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-21.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-24.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-24.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-24.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-24.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-24.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-responsive="{{path}}Reduce400/11202018_MrFixIt_JonesboroughDeck-34.jpg, {{path}}/Reduce800/11202018_MrFixIt_JonesboroughDeck-34.jpg, {{path}}/11202018_MrFixIt_JonesboroughDeck-34.jpg" data-src="{{path}}/11202018_MrFixIt_JonesboroughDeck-34.jpg"
    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
      <a href="">
        <img class="img-responsive" src="{{path}}/11202018_MrFixIt_JonesboroughDeck-34.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
        </div>
      </a>
    </li>






  </ul>
</div>
</div>