<div class="home-form-container">
  <form
    method="post"
    id="contact-form"
    action="assets/php/send.php"
    class="contact-form"
    data-abide
    novalidate
  >
    <div class="form-greeting">
      <h1>Let's Get Started!</h1>
      <h4>Contact Us For A Free Estimate!</h4>
    </div>

    <div class="label-input">
      <label for="name">Name</label>
      <input
        type="text"
        class="foo"
        placeholder="Your Name"
        name="name"
        id="name"
        required
      />
      <span class="form-error">Please enter your name please.</span>
    </div>

    <div class="label-input">
      <label for="email">Your Email</label>
      <input
        type="text"
        placeholder="Your Email"
        name="email"
        id="email"
        required
      />
      <span class="form-error">Please enter a telephone number</span>
    </div>

    <div class="label-input">
      <label for="phone">Phone Number</label>
      <input type="text" placeholder="Your Phone" name="phone" required />
      <span class="form-error">Please enter a telephone number</span>
    </div>

    <div class="label-input">
      <label for="service">Service Type:</label>
      <select name="service" id="services">
        <option value="Bathroom Remodeling">Bathroom Remodeling</option>
        <option value="Kitchen Remodeling">Kitchen Remodeling</option>
        <option value="Outdoor Patio">Outdoor Patio / Screenroom</option>
        <option value="Outdoor Decking">Outdoor Decking</option>
        <option value="Room Additions">Room Additions</option>
        <option value="Other">Other</option>
      </select>
    </div>

    <div class="message-field">
      <label for="project">Describe your project.</label>
      <textarea
        name="message"
        id="message"
        cols="40"
        rows="10"
        placeholder="Describe your project"
      ></textarea>
    </div>

    <div class="field-container">
      <input type="submit" value="Get Free Quote" class="button" />
    </div>
  </form>

  <div class="home-testimonial-box">
    <div class="testimonial-container">
      <h2>What Our Customers Say</h2>
      <hr />
      <div class="orbit" role="region" aria-label="Testimonials" data-orbit>
        <div class="orbit-wrapper">
          <div class="orbit-controls">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFEOE;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide Slide</span>&#9654;&#xFEOE;</button>

          </div>
          <ul class="orbit-container">
            <li class="is-active orbit-slide">
              <div>
                <p>I moved here 13 years ago.  Mr. Dunn did a lot of work on my home before I purchased it.  Since then he has done two additions to the original deck which he built and renovated my bathroom, put in a beautiful walk in shower.  I plan to have him do another project in the near future.  His work is always perfect! He has a wonderful crew that work quickly & never leave a mess!  He is dependable and honest.  I cannot say enough good things about his work.</p>
                <h3>- Grieg Vanlandingham</h3>
              </div>
            </li>

            <li class="is-active orbit-slide">
                <div>
                  <p>I have had Mr Fix It do numerous jobs for me over the past 6 years.  With every job, he was extremely professional, always on time, his workmen are fantastic, and always finished the job exactly as promised.   I just signed a contract with him to do yet another job.   He is a man of his word, has a wonderful team, and definitely knows his trade.  I recommend him to everyone!</p>
                  <h3>- ETBCR Border Collie Rescue</h3>
                </div>
              </li>

              <li class="is-active orbit-slide">
                  <div>
                    <p>Mr. Fix-It just completed replacing our old Jacuzzi Tub with a beautiful walk-in shower. The job was completed in a timely manner and at a reasonable price.  The workers were very professional and knowledgeable and did an excellent job.  Mr. Fix-It  has completed several jobs for me over the past 10 years, and I have always been pleased with the end results. I would call him again tomorrow if I needed another project completed..</p>
                    <h3>- Michael West</h3>
                  </div>
                </li>


                <li class="is-active orbit-slide">
                  <div>
                    <p>Darrell & his crew built a beautiful deck (replacing an old, worn deck).  Guys were dependable, hard-working, & did an excellent job.  The whole thing was finished in 4 days.  I will certainly recommend them to friends & will call him in the future for other projects.</p>
                    <h3>- Julie Tidwell</h3>
                  </div>
                </li>

                <li class="is-active orbit-slide">
                  <div>
                    <p>Darrell Dunn and his wonderful crew just completed  my patio deck, cover and front porch today, everything looks excellent and they are true craftsmen. The job was finished on time as promised and I will definitely use Mr Fix again soon, Thank you Pam S</p>
                    <h3>- Pamala Simpson</h3>
                  </div>
                </li>

                <li class="is-active orbit-slide">
                  <div>
                    <p>Mr Fix It replaced our deck, updated two bathrooms and the foyer, as well as other remodeling work.  Enjoyed working with a team of experienced professionals.  People were working on some aspect of the renovation nearly every day, keeping the project on schedule.  Happy with the quality of the completed work.</p>
                    <h3>- Michael</h3>
                  </div>
                </li>




          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
