<div class="home-services-container">
  <div class="home-service-box">
    <div class="home-service-image">
      <a href="bathroom-remodeling.html">
        <img src="assets/img/mrfixit_homeremodel.jpg" alt="Bathroom Remodeling"
      /></a>
    </div>
    <h2><a href="home-remodeling.html">Home Remodeling</a></h2>
    <div class="button hollow"><a href="home-remodeling.html">Learn More</a></div>
  </div>

  <div class="home-service-box">
    <div class="home-service-image">
      <img src="assets/img/reedcirclebath.jpg" alt="" />
    </div>
    <h2><a href="bathroom-remodeling.html">Bathroom Remodeling</a></h2>

    <div class="button hollow"><a href="bathroom-remodeling.html">Learn More</a></div>
  </div>

  <div class="home-service-box">
    <div class="home-service-image">
      <img src="assets/img/mrfixit+washingtonkitchen.jpg" alt="" />
      </div>
      <h2><a href="kitchen-remodeling.html">Kitchen Remodeling</a></h2>
      <div class="button hollow"><a href="kitchen-remodeling.html">Learn More</a></div>
    </div>

    <div class="home-service-box">
        <div class="home-service-image">
      <img
        src="assets/img/DSC_4639MrFixIt_ReedCircle_07272016-4-1.jpg"
        alt=""
      /></div>
      <h2><a href="outdoor-remodeling.html">Outdoor Remodeling</a></h2>
      <div class="button hollow"><a href="outdoor-remodeling.html">Learn More</a></div>
    </div>
  </div>
</div>
