<div class="page-headlines">
  <div class="row">
    <h1>We're proud of our work.</h1>
    <p>
      Enjoy your home and add value for years to come. Click on the links below
      to explore each project.
    </p>
  </div>
</div>

<div class="project-archives">
  <div class="project-archive">
    <div class="overlay-container">
      <a href="kitchen_03082019_Harrtown.html"
        ><img
          src="assets/img/Features/KitchenGallery_Features/blountville_harrtown_kitchen.jpg"
          alt=""
      /></a>
      <div class="overlay">
        <p>
          <a href="kitchen_03082019_Harrtown.html"
            >Harrtown Road - Blountville Kitchen Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="kitchen_09302016_Ridgfields.html">
        <img
          src="assets/img/Features/KitchenGallery_Features/kingsport_ridgefields_kitchen.jpg"
          alt=""
        />
      </a>

      <div class="overlay">
        <p>
          <a href="kitchen_09302016_Ridgfields.html"
            >Ridgefields - Kitchen Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="kitchen_09062015_PrestonForest.html">
        <img src="assets/img/Features/kitchenmodel.jpg" alt="" />
      </a>
      <div class="overlay">
        <p>
          <a href="kitchen_09062015_PrestonForest.html"
            >Chestnut Ridge - Kingsport Kitchen Remodeling</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="kitchen_03012018_RidgefieldsCondo.html">
        <img
          src="assets/img/Features/KitchenGallery_Features/kingsport_ridgefields_condo.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="kitchen_03012018_RidgefieldsCondo.html"
            >Ridgefields Condo - Kingsport Kitchen Remodeling</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="kitchen_072017_Essex.html">
        <img
          src="assets/img/Features/KitchenGallery_Features/kingsport_prestonForest_kitchen.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="kitchen_072017_Essex.html"
            >Preston Forest - Kitchen Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="kitchen_11262014_cannongate.html">
        <img
          src="assets/img/Features/KitchenGallery_Features/kingsport_cannongate_kitchen.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="kitchen_11262014_cannongate.html"
            >Rotherwood Hills - Cannongate Kitchen Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="kitchen_012017_CooksValley.html">
        <img
          src="assets/img/Features/KitchenGallery_Features/kingsport_cooksvalley_darkkitchen.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="kitchen_012017_CooksValley.html"
            >Kingsport - Cooks Valley Kitchen Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="kitchen_05082018_Washington.html">
        <img
          src="assets/img/Features/KitchenGallery_Features/kingsport_washington_kitchen.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="kitchen_05082018_Washington.html"
            >Kingsport - Washington Kitchen Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="kitchen_09262015_Catawba.html">
        <img
          src="assets/img/Features/KitchenGallery_Features/kingsport_white_kitchenremodel.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="kitchen_09262015_Catawba.html"
            >Kingsport - Catawba Street Kitchen Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="kitchen_05172015_Jonesborough.html">
        <img
          src="assets/img/Features/KitchenGallery_Features/jonesborough_kitchen_remodel.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="kitchen_05172015_Jonesborough.html"
            >Jonesborough - Kitchen Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="kitchen_04192015_Oldham.html">
        <img
          src="assets/img/Features/KitchenGallery_Features/kingsport_classic_kitchen.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="kitchen_04192015_Oldham.html"
            >Kingsport - Classic Kitchen Remodel</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="src/pages/kitchen_03222015_FallCreek.html">
        <img
          src="assets/img/Features/KitchenGallery_Features/kingsport_fallcreek_kitchenremodel.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="kitchen_03222015_FallCreek.html"
            >Kingsport - Fall Creek Kitchen Remodel</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
