<div class="nav-content">
  <div class="logo">
    <a href="index.html">
      <img
        src="assets/img/graphics/fixitlogo_2018_horizontal.png"
        alt="Mr. Fix It Home Improvements"
      />
    </a>
  </div>
  <div class="right-content">
    <div class="socialmenu">
      <a href="http://www.facebook.com/mrfixithomes"
        ><i class="fab fa-facebook-square"></i> Facebook</a
      >
      <a href="http://www.instagram.com/mrfixithomes"
        ><i class="fab fa-instagram"></i> Instagram</a
      >
    </div>
    <ul id="main-nav" class="main-navigation">
      <li><a href="index.html">Home</a></li>
      <li><a href="index.html">About</a></li>
      <li><a href="index.html">Our Services</a></li>
      <li><a href="index.html">Job Portfolio</a></li>
      <li><a href="index.html">Contact Us</a></li>
    </ul>
    <div class="desktop-phone">Call 423-530-6010</div>
  </div>
</div>
