<div class="page-headlines">
  <div class="row">
    <h1>We're proud of our work.</h1>
    <p>
      Enjoy your home and add value for years to come. Click on the links below
      to explore each project.
    </p>
  </div>
</div>

<div class="project-archives">
  <div class="project-archive">
    <div class="overlay-container">
      <a href="porch_projects/porch_arbor.html"
        ><img src="assets/img/Features/churchhill_arbor.jpg" alt=""
      /></a>
      <div class="overlay">
        <p>
          <a href="porch_projects/porch_arbor.html">Church Hill Arbor</a>
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="porch_projects/porch_cooksvalley_arbor.html">
        <img
          src="assets/img/Features/KitchenGallery_Features/kingsport_ridgefields_kitchen.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="porch_projects/porch_cooksvalley_arbor.html"
            >Cooks Valley Arbor</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="roomaddition_projects/addition_jonesborough_11202018.html">
        <img
          src="assets/img/Features/roomaddition_features/jonesborough_BellHome.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="roomaddition_projects/addition_jonesborough_11202018.html"
            >Jonesborough Arbor</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="roomaddition_projects/addition_wataugastret.html">
        <img
          src="assets/img/Features/roomaddition_features/kingsport_watauga_addition.jpg"
          alt=""
        />
      </a>
      <div class="overlay">
        <p>
          <a href="roomaddition_projects/addition_wataugastret.html"
            >Garage Addition</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
