<div class="page-headlines">
  <div class="row">
    <h1>We're proud of our work.</h1>
    <p>
      Enjoy your home and add value for years to come. Click on the links below
      to explore each project.
    </p>
  </div>
</div>

<div class="project-archives">
  <div class="project-archive">
    <div class="overlay-container">
      <a href="porch_projects/porch_allandale.html"
        ><img
          src="assets/img/Features/KitchenGallery_Features/blountville_harrtown_kitchen.jpg"
          alt=""
      /></a>
      <div class="overlay">
        <p>
          <a href="porch_projects/porch_allandale.html"
            >Screen Porch - Allandale Kingsport</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="porch_projects/porch_kingsport_screenroom.html">
        <img src="assets/img/Features/bloomingdale_screenporch.jpg" alt="" />
      </a>
      <div class="overlay">
        <p>
          <a href="porch_projects/porch_kingsport_screenroom.html"
            >Screen Porch - Bloomingdle Kingsport</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <a href="porch_projects/porch_boonescreek.html">
        <img src="assets/img/Features/boonescreek_ScreenPorch.jpg" alt="" />
      </a>
      <div class="overlay">
        <p>
          <a href="porch_projects/porch_boonescreek.html"
            >Screen Porch in Boones Creek</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img
        src="assets/img/Features/KitchenGallery_Features/kingsport_prestonForest_kitchen.jpg"
        alt=""
      />
      <div class="overlay">
        <p>
          <a href="project-detail.html">Preston Forest - Kitchen Remodeling</a>
        </p>
      </div>
    </div>
  </div>
</div>
