<div class="page-headlines">
    <div class="row">
      <h1>We're proud of our work.</h1>
      <p>Enjoy your home and add value for years to come. Click on the links below to explore each project.</p>
    </div>
  </div>
  
  <div class="project-archives">
  <div class="project-archive">
    <div class="overlay-container">
      <a href="project-detail.html"
        ><img src="/assets/img/Features/roomaddition_features/kingsport_ridgefields_addition.jpg" alt=""
      /></a>
      <div class="overlay">
        <p>
          <a href="project-detail.html">Kingsport - Ridgefields Addition and Sunroom</a>
        </p>
      </div>
    </div>
  </div>
  

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/roomaddition_features/kingsport_chesterfield_addition.jpg" alt="" />
      <p>
          <div class="overlay">
              <p>
                <a href="project-detail.html">Colonial Heights - Addition and Screened Porch</a>
              </p>
            </div>
    </p>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/roomaddition_features/kingsport_watauga_addition.jpg" alt="" />
      <div class="overlay">
          <p>
            <a href="project-detail.html">Kingsport - Watauga Street Addition</a>
          </p>
        </div>
    </div>
  </div>

  <div class="project-archive">
        <div class="overlay-container">
          <img src="/assets/img/Features/roomaddition_features/gray_summerville_extension.jpg" alt="" />
          <div class="overlay">
              <p>
                <a href="project-detail.html">Gray, TN - Room Addition and Sunroom</a>
              </p>
            </div>
        </div>
      </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/roomaddition_features/kingsport_room_addition.jpg" alt="" />
      <div class="overlay">
          <p>
            <a href="project-detail.html">Kingsport - Addition</a>
          </p>
        </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/roomaddition_features/graytn_room_addition.jpg" alt="" />
      <div class="overlay">
          <p>
            <a href="project-detail.html">Gray, TN - Room Addition and Sunroom</a>
          </p>
        </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/roomaddition_features/kingsport_westcartersvalley_addition.jpg" alt="" />
      <div class="overlay">
          <p>
            <a href="project-detail.html">Kingsport - West Carter's Valley Addition</a>
          </p>
        </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/roomaddition_features/mtcarmel_bathroom_addition.jpg" alt="" />
      <div class="overlay">
          <p>
            <a href="project-detail.html">Mount Carmel - Bathroom and Addition</a>
          </p>
        </div>
    </div>
  </div>







 



            



           

               





</div>
