{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-WS5W2JR');
    </script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Kingsport, Bristol, Johnson City Home Improvements and Remodeling by Mr.
      Fix It
    </title>
    <link rel="stylesheet" href="{{ root }}assets/css/app.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.0/css/lightgallery.min.css"
    />
    <script src="https://kit.fontawesome.com/ba7dae2aa6.js"></script>
    <!-- <link rel="stylesheet" href="sweetalert2.min.css" /> -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-11940427-10"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-11940427-10');
    </script>

    <meta
      name="google-site-verification"
      content="YPai5JKnJgWnOERfVuYNvkOkKCIJnmmxpm1csakf6TQ"
    />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WS5W2JR"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}

    {{> topheader}}
    {{> navigation}}
    {{> body}}
    {{> footer}}

    <script type="text/javascript">
      $(document).ready(function() {
        $('#lightgallery').lightGallery();
      });
    </script>

    <script src="{{ root }}assets/js/app.js"></script>

    <script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
    <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>

    <script>
      lightGallery(document.getElementById('lightgallery'));
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <!-- <script src="sweetalert2.min.js"></script> -->
  </body>
</html>
